workflows/export_20250528_110851.json
[{"createdAt":"2025-04-14T11:25:21.339Z","updatedAt":"2025-05-14T13:41:14.733Z","id":"cvttTp6YywdJLFhU","name":"01 - Embeddings Creation","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-100],"id":"d6d1c25f-9e85-4e0b-b059-e5bf51bcd863","name":"When clicking ‘Test workflow’"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"asomados_docs","mode":"list","cachedResultName":"asomados_docs"},"embeddingBatchSize":1,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[1040,-60],"id":"1a394cdd-7b37-438e-84ff-0dcb6ebd6cea","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"CYqUWya6MEgGS8WU","name":"QdrantApi account"}}},{"parameters":{"operation":"getAll","tableId":"rag","returnAll":true,"filters":{"conditions":[{"keyName":"procesado","condition":"eq","keyValue":"0"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[320,-100],"id":"9bc13b7f-8cce-4117-9180-68dc5d6a26e3","name":"Supabase","credentials":{"supabaseApi":{"id":"3Zlbmst4OJJWaYV1","name":"Supabase ASOMADOS"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[620,-100],"id":"7c0d18d1-a290-408d-892c-9081aa53a264","name":"Loop Over Items"},{"parameters":{"operation":"update","tableId":"rag","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop Over Items').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"procesado","fieldValue":"1"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1540,400],"id":"b44767db-3251-4ac6-8bcb-7cbc3c857c80","name":"Supabase1","credentials":{"supabaseApi":{"id":"3Zlbmst4OJJWaYV1","name":"Supabase ASOMADOS"}}},{"parameters":{"options":{"dimensions":1536}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[920,100],"id":"15a0774b-bc5c-4598-a783-52930a3b6602","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Gw0QSKnbDEBUQQBk","name":"OpenAi n8n auto alojado"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.titulo }}","options":{"metadata":{"metadataValues":[{"name":"contenido","value":"={{ $json.contenido }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1100,160],"id":"534cfff7-f96e-41b5-83d4-4b57a489fb84","name":"Default Data Loader"},{"parameters":{"chunkSize":10000},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[1060,340],"id":"6d8439c7-ea3f-496b-88df-712d64f5d392","name":"Character Text Splitter"},{"parameters":{"method":"POST","url":"http://qdrant:6333/collections/asomados_docs/points/scroll","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"limit\": 5,\n  \"with_vector\": true,\n  \"with_payload\": true\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,300],"id":"b1977367-9c2d-4d64-b932-04e39af37ad0","name":"HTTP Request","credentials":{"qdrantApi":{"id":"CYqUWya6MEgGS8WU","name":"QdrantApi account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Supabase","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"90a935fc-740d-469d-b542-31ca62a03db6","triggerCount":0,"tags":[{"createdAt":"2025-04-22T09:38:24.082Z","updatedAt":"2025-04-22T09:38:24.082Z","id":"dPiX8I9YG6tksm03","name":"🧠 Embeddings Creation"},{"createdAt":"2025-04-22T09:38:40.800Z","updatedAt":"2025-04-22T09:38:40.800Z","id":"VvzVaG9LYzll1SHY","name":"💾 Upload to Vector Stor"},{"createdAt":"2025-05-14T13:38:40.826Z","updatedAt":"2025-05-14T13:38:40.826Z","id":"jSyen9IAXqgb2yo6","name":"ASOMADOS"}]},{"createdAt":"2025-05-09T08:28:34.299Z","updatedAt":"2025-05-14T13:38:47.490Z","id":"88PgGmIc7qLzIdE7","name":"CHAT TESTING MODE","active":false,"nodes":[{"parameters":{"hasOutputParser":true,"options":{"systemMessage":"=## 🧠 PROMPT – ASISTENTE INTELIGENTE DE ASOMADOS\n\n---\n\n### 🎯 Objetivo del agente\n\nActuar como asistente conversacional inteligente de ASOMADOS, proporcionando respuestas útiles, resumidas y precisas sobre la empresa, sus servicios y formas de contacto. Además, captar datos de contacto del usuario **solo si muestra interés real** en contactar con ASOMADOS o recibir atención personalizada.\n\n---\n\n### 🔍 BÚSQUEDA DE INFORMACIÓN\n\n1. Genera un embedding del mensaje del usuario.  \n2. Usa la herramienta `asomados_docs` para recuperar hasta 3 documentos relevantes de la base vectorial.  \n3. Analiza el contenido recuperado (sin inventar nada) y sintetiza la información necesaria.  \n4. Resume la respuesta bastante, evitando explicaciones extensas. No de una respuesta larga. EVITALO\n\n---\n\n### 💬 ESTRUCTURA DE LA CONVERSACIÓN\n\nEl agente debe adaptarse al tipo de usuario (curioso, interesado, potencial cliente) y seguir este flujo flexible:\n\n#### 🟢 1. Inicio\n- Saluda y preséntate brevemente como asistente de ASOMADOS.\n- Pregunta en qué puede ayudar y espera a que el usuario formule su duda o interés.\n\n#### 🟡 2. Resolución de dudas\n- Responde de forma clara, resumida y estructurada según los documentos recuperados.\n- Si es necesario listar servicios, características, etc., usa bullet points.\n- Si el usuario solicita información de contacto, proporciónala directamente:\n  - 📧 info@asomados.com  \n  - 📍 Rúa Colón 26, 5º, 36201, Vigo  \n  - 📞 +34 986 266 578 | +34 644 700 703\n\n#### 🟠 3. Detectar intención de contacto\n- Si el usuario muestra interés en contratar servicios, recibir asesoramiento o pide contacto directo:\n  - Ofrece la posibilidad de que un representante de ASOMADOS le contacte.\n  - Indica que necesitas solamente unos datos más para trasladar su solicitud al equipo.\n\n#### 🔵 4. Captura de datos (uno por uno)\nPide la siguiente información, **de forma amable y adaptativa**, solo si no ha sido ya proporcionada:\n\n1. **Nombre y apellidos**  \n2. **Correo electrónico**  \n3. **Teléfono de contacto**  \n\n> 🔁 Si el usuario se niega a dar uno de los datos, continúa con el siguiente. Nunca insistas ni fuerces.\n\n#### 🟣 5. Recapitulación del interés\nA medida que la conversación avanza, guarda mentalmente o en contexto:\n- Qué servicio le interesa\n- Qué problema o necesidad tiene\n- Qué tipo de empresa representa (si se menciona)\n\n---\n\n### 🚀 LLAMADA A WORKFLOW (ENVÍO DE INFORMACIÓN)\n\n📌 **Solo cuando tengas los tres datos clave (nombre completo, correo, teléfono) y el interés/mensaje del lead**:\n\n1. Llama a la herramienta \"Call lead workflow\" y pasa todos los datos del interesado.\n\n2. Agradece al usuario y confirma que el equipo de ASOMADOS se pondrá en contacto pronto.\n\n⚠️ **No llames a esta herramienta antes**. Espera hasta tener todos los datos requeridos.\n\n---\n\n### 📌 REGLAS FINALES\n\n- Sé educado y respetuoso en todo momento.\n- Termina siempre el mensaje preguntando si quiere saber mas sobre el tema de que está preguntando o incluso si quiere que recolecte sus datos para que un representante se ponga en contacto cn el.\n- Resume siempre que sea posible.\n- No respondas con textos largos ni párrafos densos.\n- Nunca inventes información que no esté en los documentos ni asumas lo que el usuario no ha dicho.\n- No uses la herramienta `call_workflow` si no tienes todos los datos del usuario.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[780,-40],"id":"54e220f1-ffe5-4ad5-8618-66e089c78b88","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[540,180],"id":"47df6db7-94a0-43ec-af4f-fe9608a9d5cc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Gw0QSKnbDEBUQQBk","name":"OpenAi n8n auto alojado"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[660,240],"id":"eae8e2a1-69f1-49b7-99ee-d46a12eb8b70","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"dGsXmh26KMQqcZF9","name":"Postgres Chatdb"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"asomados_docs","toolDescription":"Usa esta tool para recuperar documentos relevantes de la base vectorial asomados_docs. Esta colección contiene información de la empresa ASOMADOS, como servicios, procesos, áreas de trabajo y preguntas frecuentes. Introduce un mensaje del usuario, se generará un embedding, y se buscarán los documentos más similares. Ideal para responder dudas del usuario basándote en información verificada y cargada previamente.","qdrantCollection":{"__rl":true,"value":"asomados_docs","mode":"list","cachedResultName":"asomados_docs"},"topK":3,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[840,260],"id":"6bed5466-bb3c-4fb0-a024-94d302e2a813","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"CYqUWya6MEgGS8WU","name":"QdrantApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[820,440],"id":"bdb04ab8-0b23-4881-b74e-5b78565b73d6","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Gw0QSKnbDEBUQQBk","name":"OpenAi n8n auto alojado"}}},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"channel\": \"{{ $('If1').first().json.body.event.channel }}\",\n  \"text\": {{ JSON.stringify($json.output.Mensaje) }}\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,-100],"id":"16538970-a1c5-4d37-ac0a-583e4a9699f9","name":"HTTP Request","credentials":{"slackApi":{"id":"PPiCmJKazShIVlAw","name":"Slack account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[320,-20],"id":"cc0f7569-5b91-4ed5-9876-6df823584f25","name":"When chat message received","webhookId":"5edaabe0-b3ec-4674-ac05-b19002ac2336"},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_chat_histories\nWHERE session_id = '88098d8628944168a987f6ef869ae998';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[540,-360],"id":"9d0c7695-978c-4c4c-85a0-a01698775673","name":"DELETE CHAT HISTORY","credentials":{"postgres":{"id":"dGsXmh26KMQqcZF9","name":"Postgres Chatdb"}}},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"channel\": \"U08NHP6HHQD\",\n  \"text\": \"¡Claro que sí! En ASOMADOS ofrecemos una variedad de servicios enfocados en potenciar la presencia digital de tu negocio. Entre ellos se encuentran:\\n\\n• Estrategia de marketing digital y posicionamiento SEO.\\n• Gestión y creación de contenido para redes sociales.\\n• Diseño y desarrollo web adaptado a tus necesidades.\\n• Consultoría en transformación y comunicación digital.\\n\\nSi tienes alguna otra consulta o necesitas más información, ¡estamos aquí para ayudarte!\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,-240],"id":"468cd395-0109-46ba-861e-682e06246be1","name":"HTTP Request1","credentials":{"slackApi":{"id":"PPiCmJKazShIVlAw","name":"Slack account"}}},{"parameters":{"description":"Usa esta herramienta para llamar al workflow \"lead_workflow\" y enviale todos los datos obtenidos del mismo.","workflowId":{"__rl":true,"value":"CPleJSffSyDO7OTg","mode":"list","cachedResultName":"lead workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nombre":"={{ $fromAI(\"nombre_lead\") }}","apellidos":"={{ $fromAI(\"apellidos_lead\") }}","correo_electronico":"={{ $fromAI(\"correo_electronico\") }}","telefono":"={{ $fromAI(\"telefono\") }}","mensaje":"={{ $fromAI(\"mensaje\") }}","id_conversacion":"={{ $('When chat message received').item.json.sessionId }}"},"matchingColumns":[],"schema":[{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"apellidos","displayName":"apellidos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"correo_electronico","displayName":"correo_electronico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversacion","displayName":"id_conversacion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1200,220],"id":"83701dd2-6b85-48d3-b84f-35528e894449","name":"Call lead workflow"},{"parameters":{"hasOutputParser":true,"options":{"systemMessage":"=## 🧠 PROMPT – ASISTENTE INTELIGENTE DE ASOMADOS (Versión workflow)\n\n---\n\n### 🎯 Objetivo del agente\n\nActuar como asistente conversacional inteligente de ASOMADOS, proporcionando respuestas útiles, resumidas y precisas sobre la empresa, sus servicios y formas de contacto. Además, captar datos de contacto del usuario **solo si muestra interés real** en contactar con ASOMADOS o recibir atención personalizada.\n\n---\n\n### 🔍 BÚSQUEDA DE INFORMACIÓN\n\n1. Genera un embedding del mensaje del usuario.  \n2. Usa la herramienta `asomados_docs` para recuperar hasta 3 documentos relevantes de la base vectorial.  \n3. Analiza el contenido recuperado (sin inventar nada) y sintetiza la información necesaria.  \n4. Resume la respuesta bastante, evitando explicaciones extensas. No de una respuesta larga. EVITALO\n\n---\n\n### 💬 ESTRUCTURA DE LA CONVERSACIÓN\n\nEl agente debe adaptarse al tipo de usuario (curioso, interesado, potencial cliente) y seguir este flujo flexible:\n\n#### 🟢 1. Inicio\n- Saluda y preséntate brevemente como asistente de ASOMADOS.\n- Pregunta en qué puede ayudar y espera a que el usuario formule su duda o interés.\n\n#### 🟡 2. Resolución de dudas\n- Responde de forma clara, resumida y estructurada según los documentos recuperados.\n- Si es necesario listar servicios, características, etc., usa bullet points.\n- Si el usuario solicita información de contacto, proporciónala directamente:\n  - 📧 info@asomados.com  \n  - 📍 Rúa Colón 26, 5º, 36201, Vigo  \n  - 📞 +34 986 266 578 | +34 644 700 703\n\n#### 🟠 3. Detectar intención de contacto\n- Si el usuario muestra interés en contratar servicios, recibir asesoramiento o pide contacto directo:\n  - Ofrece la posibilidad de que un representante de ASOMADOS le contacte.\n  - Indica que necesitas solamente unos datos más para trasladar su solicitud al equipo.\n\n#### 🔵 4. Captura de datos (uno por uno)\nPide la siguiente información, **de forma amable y adaptativa**, solo si no ha sido ya proporcionada:\n\n1. **Nombre y apellidos**  \n2. **Correo electrónico**  \n3. **Teléfono de contacto**  \n\n> 🔁 Si el usuario se niega a dar uno de los datos, continúa con el siguiente. Nunca insistas ni fuerces.\n\n#### 🟣 5. Recapitulación del interés\nA medida que la conversación avanza, guarda mentalmente o en contexto:\n- Qué servicio le interesa\n- Qué problema o necesidad tiene\n- Qué tipo de empresa representa (si se menciona)\n\n---\n\n### 🚀 LLAMADA A WORKFLOW (ENVÍO DE INFORMACIÓN)\n\n📌 **Solo cuando tengas los tres datos clave (nombre completo, correo, teléfono) y el interés/mensaje del lead**:\n\n1. Llama a la herramienta \"Call lead workflow\" y pasa todos los datos del interesado.\n\n2. Agradece al usuario y confirma que el equipo de ASOMADOS se pondrá en contacto pronto.\n\n⚠️ **No llames a esta herramienta antes**. Espera hasta tener todos los datos requeridos.\n\n---\n\n### 📌 REGLAS FINALES\n\n- Sé educado y respetuoso en todo momento.\n- Termina siempre el mensaje preguntando si quiere saber mas sobre el tema de que está preguntando o incluso si quiere que recolecte sus datos para que un representante se ponga en contacto cn el.\n- Resume siempre que sea posible.\n- No respondas con textos largos ni párrafos densos.\n- Nunca inventes información que no esté en los documentos ni asumas lo que el usuario no ha dicho.\n- No uses la herramienta `call_workflow` si no tienes todos los datos del usuario.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1860,-280],"id":"6d18d3e6-b217-416e-b344-7855277b36ef","name":"AI Agent2","disabled":true}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Qdrant Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Call lead workflow":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8b56acce-b72c-4708-9414-c162f971f947","triggerCount":3,"tags":[{"createdAt":"2025-04-22T09:37:23.126Z","updatedAt":"2025-04-22T09:38:33.313Z","id":"JjIJWWuGuQU5zPiz","name":"🔍 Retrieval + Chatbot"}]},{"createdAt":"2025-04-17T09:33:20.047Z","updatedAt":"2025-05-14T13:38:41.667Z","id":"j8ci1uswZQWcEA3U","name":"02 - CHAT BOT","active":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Webhook').item.json.body.message }}","options":{"systemMessage":"=## 🧠 PROMPT – ASISTENTE INTELIGENTE DE ASOMADOS\n\n---\n\n### 🎯 Objetivo del agente\n\nActuar como asistente conversacional inteligente de ASOMADOS, proporcionando respuestas útiles, resumidas y precisas sobre la empresa, sus servicios y formas de contacto. Además, captar datos de contacto del usuario **solo si muestra interés real** en contactar con ASOMADOS o recibir atención personalizada.\n\n---\n\n### 🔍 BÚSQUEDA DE INFORMACIÓN\n\n1. Genera un embedding del mensaje del usuario.  \n2. Usa la herramienta `asomados_docs` para recuperar hasta 3 documentos relevantes de la base vectorial.  \n3. Analiza el contenido recuperado (sin inventar nada) y sintetiza la información necesaria.  \n4. Resume la respuesta bastante, evitando explicaciones extensas. No de una respuesta larga. EVITALO\n\n---\n\n### 💬 ESTRUCTURA DE LA CONVERSACIÓN\n\nEl agente debe adaptarse al tipo de usuario (curioso, interesado, potencial cliente) y seguir este flujo flexible:\n\n#### 🟢 1. Inicio\n- Saluda y preséntate brevemente como asistente de ASOMADOS.\n- Pregunta en qué puede ayudar y espera a que el usuario formule su duda o interés.\n\n#### 🟡 2. Resolución de dudas\n- Responde de forma clara, resumida y estructurada según los documentos recuperados.\n- Si es necesario listar servicios, características, etc., resume todo en puntos claves.\n- Si el usuario solicita como ponerse en contacto, proporciónala directamente la siguiente información e indicale que puede dar también sus datos para que un especialista de asomados se ponga en contacto:\n  - 📧 info@asomados.com  \n  - 📞 +34 986 266 578 | +34 644 700 703\n\n#### 🟠 3. Detectar intención de contacto\n- Si el usuario muestra interés en contratar servicios, recibir asesoramiento o pide contacto directo:\n  - Ofrece la posibilidad de que un representante de ASOMADOS le contacte.\n  - Indica que necesitas solamente unos datos más para trasladar su solicitud al equipo.\n\n#### 🔵 4. Captura de datos (uno por uno)\nPide la siguiente información, **de forma amable y adaptativa**, solo si no ha sido ya proporcionada:\n\n1. **Nombre y apellidos**  \n2. **Correo electrónico**  \n3. **Teléfono de contacto**  \n\n> 🔁 Si el usuario se niega a dar uno de los datos, continúa con el siguiente. Nunca insistas ni fuerces.\n\n#### 🟣 5. Recapitulación del interés\nA medida que la conversación avanza, guarda mentalmente o en contexto:\n- Qué servicio le interesa\n- Qué problema o necesidad tiene\n- Qué tipo de empresa representa (si se menciona)\n\n---\n\n### 🚀 LLAMADA A WORKFLOW (ENVÍO DE INFORMACIÓN)\n\n📌 **Solo cuando tengas los tres datos clave (nombre completo, correo, teléfono) y el interés/mensaje del lead**:\n\n1. Llama a la herramienta \"Call lead workflow\" y pasa todos los datos del interesado.\n\n2. Agradece al usuario y confirma que el equipo de ASOMADOS se pondrá en contacto pronto.\n\n⚠️ **No llames a esta herramienta antes**. Espera hasta tener todos los datos requeridos.\n\n---\n\n### 📌 REGLAS FINALES\n\n- Sé educado y respetuoso en todo momento.\n- Termina siempre el mensaje preguntando si quiere saber mas sobre el tema de que está preguntando o incluso si quiere que recolecte sus datos para que un representante se ponga en contacto cn el.\n- Resume siempre que sea posible.\n- No respondas con textos largos ni párrafos densos.\n- Nunca inventes información que no esté en los documentos ni asumas lo que el usuario no ha dicho.\n- No uses la herramienta `call_workflow` si no tienes todos los datos del usuario.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[620,-20],"id":"d8f9cbfd-8b29-49d7-b13a-aca47ab94d52","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[480,220],"id":"a99aa9b6-be9c-43e4-89e9-6bdf7ee8b754","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Gw0QSKnbDEBUQQBk","name":"OpenAi n8n auto alojado"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code').item.json.session_id }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[600,280],"id":"fc2001e1-3272-40c3-a613-92bad620c13e","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"dGsXmh26KMQqcZF9","name":"Postgres Chatdb"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"asomados_docs","toolDescription":"Usa esta tool para recuperar documentos relevantes de la base vectorial asomados_docs. Esta colección contiene información de la empresa ASOMADOS, como servicios, procesos, áreas de trabajo y preguntas frecuentes. Introduce un mensaje del usuario, se generará un embedding, y se buscarán los documentos más similares. Ideal para responder dudas del usuario basándote en información verificada y cargada previamente.","qdrantCollection":{"__rl":true,"value":"asomados_docs","mode":"list","cachedResultName":"asomados_docs"},"topK":3,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[780,260],"id":"a35fed0a-8066-4ca3-9c00-afbc2df763d9","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"CYqUWya6MEgGS8WU","name":"QdrantApi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[820,440],"id":"51003345-cdfc-4ef3-9461-592833ca1fef","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"Gw0QSKnbDEBUQQBk","name":"OpenAi n8n auto alojado"}}},{"parameters":{"httpMethod":"POST","path":"slack-chatbot","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-160,-20],"id":"55b21213-77e3-478a-9b66-51e762f9112d","name":"Webhook","webhookId":"87deb92d-0f28-4525-a614-5247af1b0791"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[1300,-20],"id":"dccf0c45-8624-447f-ae71-0a9447853af2","name":"Respond to Webhook1"},{"parameters":{"jsCode":"// SHA-256 en JavaScript puro (funciona en n8n sin 'crypto')\nfunction sha256(str) {\n  function rightRotate(value, amount) {\n    return (value >>> amount) | (value << (32 - amount));\n  }\n\n  const maxWord = Math.pow(2, 32);\n  const words = [];\n  const asciiBitLength = str.length * 8;\n  let hash = [], k = [];\n\n  let primeCounter = 0;\n  const isPrime = (n) => {\n    for (let i = 2, sqrt = Math.sqrt(n); i <= sqrt; i++) {\n      if (n % i === 0) return false;\n    }\n    return true;\n  };\n\n  const getFractionalBits = (n) => ((n - Math.floor(n)) * maxWord) | 0;\n\n  while (hash.length < 8) {\n    if (isPrime(++primeCounter)) hash.push(getFractionalBits(Math.pow(primeCounter, 1 / 2)));\n  }\n\n  while (k.length < 64) {\n    if (isPrime(++primeCounter)) k.push(getFractionalBits(Math.pow(primeCounter, 1 / 3)));\n  }\n\n  str += '\\x80';\n  while (str.length % 64 - 56) str += '\\x00';\n\n  for (let i = 0; i < str.length; i++) {\n    let j = str.charCodeAt(i);\n    if ((i % 4) === 0) words.push(j << 24);\n    else if ((i % 4) === 1) words[words.length - 1] |= j << 16;\n    else if ((i % 4) === 2) words[words.length - 1] |= j << 8;\n    else words[words.length - 1] |= j;\n  }\n\n  words.push((asciiBitLength / maxWord) | 0);\n  words.push(asciiBitLength);\n\n  for (let j = 0; j < words.length;) {\n    let w = words.slice(j, j += 16);\n    let oldHash = hash.slice(0);\n\n    for (let i = 0; i < 64; i++) {\n      const w15 = w[i - 15], w2 = w[i - 2];\n\n      const a = hash[0], e = hash[4];\n      const temp1 = (\n        hash[7]\n        + (rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25))\n        + ((e & hash[5]) ^ (~e & hash[6]))\n        + k[i]\n        + (w[i] = (i < 16) ? w[i] : (\n          w[i - 16]\n          + (rightRotate(w15, 7) ^ rightRotate(w15, 18) ^ (w15 >>> 3))\n          + w[i - 7]\n          + (rightRotate(w2, 17) ^ rightRotate(w2, 19) ^ (w2 >>> 10))\n        ) | 0)\n      );\n\n      const temp2 = (\n        (rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22))\n        + ((a & hash[1]) ^ (a & hash[2]) ^ (hash[1] & hash[2]))\n      );\n\n      hash = [(temp1 + temp2) | 0].concat(hash);\n      hash[4] = (hash[4] + temp1) | 0;\n    }\n\n    for (let i = 0; i < 8; i++) {\n      hash[i] = (hash[i] + oldHash[i]) | 0;\n    }\n  }\n\n  return hash.map(x => ('00000000' + (x >>> 0).toString(16)).slice(-8)).join('');\n}\n\n// Extraer headers\nconst headers = $input.first().json.headers;\nconst body = $input.first().json.body;\n\n// Coge los valores que podamos usar para fingerprint\nconst ip = headers['x-real-ip'];\nconst userAgent = headers[\"user-agent\"] || \"no-ua\";\nconst browser = headers[\"sec-ch-ua\"] || \"no-browser\";\n\n// Crear fingerprint y hash\nconst rawFingerprint = `${ip}|${userAgent}|${browser}`;\nconst session_id = sha256(rawFingerprint).substring(0, 32); // Reducido a 32 caracteres\n\n// Retornar datos estructurados\nreturn [{\n  session_id,\n  raw_fingerprint: rawFingerprint,\n  message: body.message\n}];\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,-20],"id":"a6d81396-5f70-482c-8908-708a182a11c8","name":"Code"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[820,-400],"id":"d604065b-82e7-43ac-9bb3-7121f1f608ef","name":"Postgres","credentials":{"postgres":{"id":"dGsXmh26KMQqcZF9","name":"Postgres Chatdb"}}},{"parameters":{"promptType":"define","text":"={{ $json.body.event.blocks[0].elements[0].elements[0].text }}","hasOutputParser":true,"options":{"systemMessage":"=Tu tarea es actuar como asistente conversacional inteligente de ASOMADOS.\n\nCuando recibas una pregunta del usuario, sigue este flujo:\n\n---\n\n🔍 BÚSQUEDA:\n\n1. Genera un embedding del mensaje del usuario.\n2. Usa la herramienta `asomados_docs` para recuperar hasta los 3 documentos más relevantes de la base vectorial.\n3. Analiza el contenido recuperado (sin inventar información que no esté en los documentos) y genera una respuesta coherente y la más correcta, pudiendo incluso mezclar y resumir varios de los contenidos recuperados.\n4. Resume la respuesta, no de una respuesta larga y extensa.\n\n---\n\n💬 RESPUESTA:\n\n- Responde de forma clara y profesional, adaptando el tono a una conversación cercana pero útil.\n- Si la consulta es de contacto, **proporciona directamente los datos**:\n  - 📧 info@asomados.com\n  - 📍 Rúa Colón 26, 5º, 36201, Vigo\n  - 📞 +34 986 266 578 | +34 644 700 703\n\n---\n\n📥 CAPTACIÓN DE LEADS:\n\n- Si el usuario muestra interés claro en servicios, contacto, presupuesto o agendar reunión, solicita:\n  - Nombre y apellidos\n  - Correo electrónico\n  - Teléfono\n- A medida que avanza la conversación, ve **recapitulando el interés del usuario**:\n  - Qué servicio o solución le interesa\n  - Qué necesita resolver o mejorar\n  - Qué tipo de empresa representa (si se menciona)\n\nGuarda estos datos para su posterior envío al CRM junto con el nombre, email y teléfono.\n\n---\n\n📌 FORMATO DE LA RESPUESTA\n\n- **Mensaje**: Respuesta al usuario, clara y directa, basada en la información de los documentos o reglas anteriores.\n- **Referencia**: Indica si se ha usado información de los documentos (opcional si es respuesta genérica o de contacto).\n\n---\n\nEste agente nunca debe inventar ni asumir nada que no se haya mencionado explícitamente.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[2620,-280],"id":"198bf5e6-0402-45ea-b0bd-cdce953f076b","name":"AI Agent2","disabled":true},{"parameters":{"method":"POST","url":"https://api.sharpspring.com/pubapi/v1.2/?accountID=8DDC63B5876A85C38B18A42DA4594FD7&secretKey=A05D7252F335F5F27CF6170159158F44","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"method\": \"createLeads\",\n  \"params\": {\n    \"objects\": [\n      {\n        \"firstName\": \"Julio Testing\",\n        \"lastName\": \"Test\",\n        \"emailAddress\": \"julio.julio@example.com\"\n      }\n    ]\n  },\n  \"id\": \"create-lead-test\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,-380],"id":"2485fc32-eac8-4453-8350-e73e78eb043b","name":"HTTP - CREATE LEAD"},{"parameters":{"promptType":"define","text":"={{ $json.body.event.blocks[0].elements[0].elements[0].text }}","hasOutputParser":true,"options":{"systemMessage":"=Tu tarea es responder preguntas de usuarios sobre la empresa ASOMADOS.\n\nCuando recibas una pregunta del usuario, sigue estos pasos:\n\n1. Genera un embedding del mensaje del usuario.\n2. Usa la herramienta `asomados_docs` para buscar los 3 documentos más relevantes de la base vectorial.\n3. Analiza el contenido recuperado.\n4. Genera una respuesta **resumida y estructurada** basada exclusivamente en la información proporcionada por los documentos. No inventes información que no esté en los resultados.\n\n📌 Formato de la respuesta:\n- Mensaje: Mensaje que se le va a devolver al usuario.\n- Referencia: Menciona si se han usado documentos específicos.\n\nEjemplo de mensaje del usuario:\n> ¿Qué servicios ofrece ASOMADOS para marketing digital?\n\nTu tarea es utilizar la información recuperada para responder con precisión.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1920,-520],"id":"b3e58ae1-d8af-44a0-b74e-7d72d649dfdb","name":"AI Agent1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dbf60eb2-a1cf-45a5-a4c2-4515f0f22866","leftValue":"={{ $json.body.type }}","rightValue":"url_verification","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[100,-560],"id":"2dc2b4b0-0f88-40b5-a25d-f52ea20ec00a","name":"If"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"challenge\": \"{{ $json.body.challenge }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[400,-580],"id":"10c64cad-701f-4c48-98e8-043d8b108fc6","name":"Respond to Webhook"},{"parameters":{"method":"POST","url":"https://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"channel\": \"{{ $('If1').first().json.body.event.channel }}\",\n  \"text\": {{ JSON.stringify($json.output.Mensaje) }}\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,-380],"id":"7ed9afa6-4d05-4755-9256-5327ed0beee2","name":"HTTP Request","credentials":{"slackApi":{"id":"PPiCmJKazShIVlAw","name":"Slack account"}}},{"parameters":{"description":"Usa esta herramienta para llamar al workflow \"lead_workflow\" y enviale todos los datos obtenidos del mismo.","workflowId":{"__rl":true,"value":"CPleJSffSyDO7OTg","mode":"list","cachedResultName":"lead workflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nombre":"={{ $fromAI(\"nombre_lead\") }}","apellidos":"={{ $fromAI(\"apellidos_lead\") }}","correo_electronico":"={{ $fromAI(\"correo_electronico\") }}","telefono":"={{ $fromAI(\"telefono\") }}","mensaje":"={{ $fromAI(\"mensaje\") }}","id_conversacion":"={{ $('Code').item.json.session_id }}"},"matchingColumns":[],"schema":[{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"apellidos","displayName":"apellidos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"correo_electronico","displayName":"correo_electronico","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_conversacion","displayName":"id_conversacion","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1120,300],"id":"17413278-cd51-4207-ac38-b1ca8dd46ff4","name":"Call lead workflow"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Qdrant Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Call lead workflow":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d989b92b-8de7-4eb9-bec6-485233c37e12","triggerCount":1,"tags":[{"createdAt":"2025-04-22T09:37:23.126Z","updatedAt":"2025-04-22T09:38:33.313Z","id":"JjIJWWuGuQU5zPiz","name":"🔍 Retrieval + Chatbot"},{"createdAt":"2025-05-14T13:38:40.826Z","updatedAt":"2025-05-14T13:38:40.826Z","id":"jSyen9IAXqgb2yo6","name":"ASOMADOS"}]},{"createdAt":"2025-04-26T12:34:21.889Z","updatedAt":"2025-05-14T13:41:48.554Z","id":"7mIc1q4U5IVnHYyj","name":"WhatsApp Agent","active":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-240,20],"id":"ba3ef98a-3a19-4b57-b8cd-fda095f52457","name":"WhatsApp Trigger","webhookId":"e5b02183-228a-46a4-b267-a6ab0bbdee4e","credentials":{"whatsAppTriggerApi":{"id":"DWAnd6hDnooWXHJi","name":"WhatsApp Julio AI Consulting"}}},{"parameters":{"promptType":"define","text":"={{ $json.messages[0].text.body }}","options":{"systemMessage":"=# 🤖 Agente WhatsApp para Activar el Workflow de Scraping Inteligente\n\n## 🎯 Rol\nEres un agente virtual conversacional vía WhatsApp. Tu misión es hablar con los usuarios (yo y mi socio) para recoger todos los parámetros necesarios y activar el subworkflow `WEB SCRAPER` en n8n.\n\n## 🧠 Funcionalidades Especiales\n- Eres capaz de **consultar la base de datos PostgreSQL** de forma dinámica usando la herramienta `SQL_query_Postgres`.\n- Puedes obtener automáticamente el `whatsAppNumber` de:\n  `{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}`\n- Puedes **llamar al subworkflow `llamar_web_scraper_workflow`** automáticamente una vez tengas todos los parámetros necesarios.\n\n---\n\n## 🗣️ Flujo Conversacional\n\n### 1. Interpretación libre de preguntas relacionadas con la base de datos\n\nSi el usuario realiza cualquier tipo de pregunta para conocer datos del sistema, debes usar la herramienta `SQL_query_Postgres` para consultar la información adecuada en tiempo real.\n\n#### Ejemplos de preguntas que puedes entender y responder:\n\n- \"¿Qué sectores tenéis disponibles?\"\n- \"¿Qué productos ofrecéis?\"\n- \"¿Qué productos hay relacionados con clínicas?\"\n- \"¿Cuál es el ID del sector ecommerce?\"\n- \"Muéstrame los sectores para elegir\"\n\n➡️ **Tú decides qué consulta ejecutar internamente y respondes con la información de forma clara y conversacional** (nunca muestres el SQL directamente).\n\n---\n\n### 2. Luego, haz las preguntas una a una para preparar la ejecución del workflow:\n\n#### a. Tipo de sector\n> ¿Sobre qué tipo de sector quieres buscar empresas?  \n(Ej: inmobiliarias, clínicas, consultorías, etc.)\n\n→ El agente debe consultar en la base de datos el `sector_id` correspondiente, **buscando el valor en la columna `nombre` de la tabla `sectores`**.\n\n🔎 **Importante:** El valor en la base de datos está en minúsculas, tipo slug, sin espacios ni tildes (ej: `inmobiliarias`, `clinicas_esteticas`, `abogados_juridico`). Asegúrate de transformar o validar el nombre antes de buscarlo.\n\n#### b. Tipo de producto\n> ¿Qué producto quieres ofrecerles?  \n(Ej: chatbot_ventas, ocr_facturas...)\n\n→ El agente debe consultar en la base de datos el `producto_id` correspondiente, **buscando el valor en la columna `nombre` de la tabla `productos`**.\n\n🔎 **Importante:** Igual que con los sectores, los valores están normalizados como slugs (minúsculas, sin acentos ni espacios).\n\n---\n\n### 4. 🔍 Término de búsqueda\n> Escríbeme las palabras clave exactas para buscar estas empresas (ej: clínicas dentales en Sevilla).\n\n→ Guarda como `searchStringsArray` (tipo `string`).\n\n---\n\n### 5. 🌍 Ubicación\n> ¿Dónde quieres buscar? Dime ciudad y país (ej: Valencia, España).\n\n→ Guarda como `locationQuery` (tipo `string`).\n\n---\n\n\n### 6. 📲 Obtener automáticamente el número de WhatsApp\n→ No preguntes, usa directamente:\n\n{{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}\n\n→ Guarda como `whatsAppNumber`.\n\n---\n\n## ✅ Confirmación final\nANTES DE USAR LA HERRAMIENTA \"Llama WEB SCRAPER workflow\", pregunta al usuario si quiere continuar dandole TODOS los datos recopilados hasta ahora.\n\n---\n\n## 🚀 Activar subworkflow\nLlama a la herramienta `llamar_web_scraper_workflow` con todos los campos anteriores como parámetros de entrada.\n\n---\n\nUNA VEZ LLAMADO EL SUB-WORKFLOW y no ha devuelto errores, di que el proceso del termino de busqueda en concreto ha terminado sin errores. Si hay errores, especifica de qué tipo, porqué y cómo solventarlo."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[200,20],"id":"2d9842eb-f224-4c74-ada7-7f4aa25328a6","name":"AI Agent","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"name":"web_scraper","description":"Esta herramienta permite iniciar de forma automática el flujo de scraping de datos utilizando un workflow previamente definido. El agente debe recopilar los parámetros necesarios para una búsqueda (como palabras clave, ubicación y cantidad máxima de resultados), construir un objeto JSON, y enviarlo como input al workflow de scraping.","workflowId":{"__rl":true,"value":"2uTP3E68xZSD13IR","mode":"list","cachedResultName":"WEB SCRAPER - Postgres Data Base"},"workflowInputs":{"mappingMode":"defineBelow","value":{"searchStringsArray":"={{ $fromAI(\"searchStringsArray\") }}","locationQuery":"={{ $fromAI(\"locationQuery\") }}","whatsAppNumber":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","producto_id":"={{ $fromAI(\"producto_id\") }}","sector_id":"={{ $fromAI(\"sector_id\") }}"},"matchingColumns":[],"schema":[{"id":"sector_id","displayName":"sector_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"producto_id","displayName":"producto_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"searchStringsArray","displayName":"searchStringsArray","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"locationQuery","displayName":"locationQuery","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"whatsAppNumber","displayName":"whatsAppNumber","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[480,-300],"id":"79d465ea-3e54-4b52-ba73-3b69b25edd1b","name":"Llama WEB SCRAPER workflow","notesInFlow":false},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[100,300],"id":"2b9b0178-d98c-4a05-92df-d2849ec132b7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Gw0QSKnbDEBUQQBk","name":"OpenAi n8n auto alojado"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[300,320],"id":"4b40ffcb-5eeb-4c95-a868-6a332add79d7","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"dGsXmh26KMQqcZF9","name":"Postgres Chatdb"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.contacts[0].wa_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-20,20],"id":"b715eb0c-473a-43a6-acd5-73042632efd6","name":"Switch"},{"parameters":{"descriptionType":"manual","toolDescription":"Ejecuta una consulta SQL dinámica sobre PostgreSQL para obtener IDs de sectores, productos o responder preguntas del usuario","operation":"executeQuery","query":"={{ $fromAI(\"query_solicitada\",\"Consulta SQL para responder preguntas y obtener informacion\") }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[520,340],"id":"f19bef0c-e2d4-4d2a-9ecf-2d4a6551ddf6","name":"SQL_query_Postgres","credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[780,0],"id":"dd0c1d61-a9e5-4f34-a6ad-18f81e0f26f2","name":"WhatsApp Business Cloud","webhookId":"a86a47ef-d1d3-4245-b013-bb3833cf279d","credentials":{"whatsAppApi":{"id":"oYDtGmYOnwGjvTHH","name":"WhatsApp Julio AI Consulting"}}},{"parameters":{"workflowId":{"__rl":true,"value":"iyB7zR9mxRwdeMNZ","mode":"list","cachedResultName":"ERROR HANDLING"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[920,360],"id":"c8cafd06-4e86-4c22-aa60-c0a8b0b133a8","name":"ERROR HANDLING1"},{"parameters":{"operation":"send","phoneNumberId":"={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}","textBody":"=Ha habido un error: {{ $json }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1140,360],"id":"46e0d070-819e-4329-bebe-ec02b3f99794","name":"WhatsApp Business Cloud1","webhookId":"a86a47ef-d1d3-4245-b013-bb3833cf279d","credentials":{"whatsAppApi":{"id":"oYDtGmYOnwGjvTHH","name":"WhatsApp Julio AI Consulting"}}}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Llama WEB SCRAPER workflow":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}],[{"node":"ERROR HANDLING1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"SQL_query_Postgres":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"ERROR HANDLING1":{"main":[[{"node":"WhatsApp Business Cloud1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Madrid","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"JhhHLtCScJRMg4TX"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"83fdc271-2dfd-4a87-9568-a3676feac81f","triggerCount":1,"tags":[{"createdAt":"2025-04-26T17:58:30.361Z","updatedAt":"2025-04-26T17:58:30.361Z","id":"Hdvh62tjWpdoNDuk","name":"------  WEB SCRAPER"}]},{"createdAt":"2025-04-29T15:54:11.616Z","updatedAt":"2025-05-14T13:40:44.757Z","id":"zANT00g8aK6uSPCr","name":"Brevo EVENTS","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"brevo-notificaciones","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"f45f4d03-fa89-40b1-b2c5-010f07df17cf","name":"Webhook","webhookId":"82486161-cbee-4493-8715-0d9d5c643917"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.event }}","rightValue":"delivered","operator":{"type":"string","operation":"equals"},"id":"354d674e-bf70-4390-b57d-e8973ea25d49"}],"combinator":"and"},"renameOutput":true,"outputKey":"DELIVERED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"96f56545-5a34-48a8-94f3-961442c69d27","leftValue":"={{ $json.body.event }}","rightValue":"unique_opened","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"OPENED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e410d784-91cd-41e6-9e04-82ccd3cd4d6f","leftValue":"={{ $json.body.event }}","rightValue":"=unsubscribed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"UNSUBSCRIBED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3083eae0-aeaf-4aa8-b609-5a77cabab885","leftValue":"={{ $json.body.event }}","rightValue":"blocked","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BLOCKED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3d543987-1ce7-4e88-84f4-15fb41a5e2df","leftValue":"={{ $json.body.event }}","rightValue":"click","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CLICK"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[280,-40],"id":"4f83076c-db64-443f-a641-bec6d650bb19","name":"Switch"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"envios_emails","mode":"list","cachedResultName":"envios_emails"},"columns":{"mappingMode":"defineBelow","value":{"correo_seleccionado":"={{ $json.body.email }}","estado_envio":"delivered","evento_id":"={{ $json.body.id }}"},"matchingColumns":["correo_seleccionado"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fecha_envio","displayName":"fecha_envio","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"smtp_usado","displayName":"smtp_usado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estado_envio","displayName":"estado_envio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"motivo_fallo","displayName":"motivo_fallo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"opened","displayName":"opened","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"fecha_apertura","displayName":"fecha_apertura","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"clicked","displayName":"clicked","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"fecha_click","displayName":"fecha_click","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"replied","displayName":"replied","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"fecha_respuesta","displayName":"fecha_respuesta","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"bounced","displayName":"bounced","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"motivo_rebote","displayName":"motivo_rebote","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"correo_seleccionado","displayName":"correo_seleccionado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"evento_id","displayName":"evento_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"block","displayName":"block","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"unsubscribed","displayName":"unsubscribed","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-500],"id":"227f3fc7-d38e-4217-9062-070d343cb13c","name":"DELIVERED","retryOnFail":false,"credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"envios_emails","mode":"list","cachedResultName":"envios_emails"},"columns":{"mappingMode":"defineBelow","value":{"opened":true,"fecha_apertura":"={{ new Date().toISOString() }}","evento_id":"={{ $json.body.id }}"},"matchingColumns":["evento_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fecha_envio","displayName":"fecha_envio","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"smtp_usado","displayName":"smtp_usado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estado_envio","displayName":"estado_envio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"motivo_fallo","displayName":"motivo_fallo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"opened","displayName":"opened","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"fecha_apertura","displayName":"fecha_apertura","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"clicked","displayName":"clicked","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"fecha_click","displayName":"fecha_click","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"replied","displayName":"replied","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"fecha_respuesta","displayName":"fecha_respuesta","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"bounced","displayName":"bounced","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"motivo_rebote","displayName":"motivo_rebote","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"correo_seleccionado","displayName":"correo_seleccionado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"evento_id","displayName":"evento_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"block","displayName":"block","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"unsubscribed","displayName":"unsubscribed","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-280],"id":"46c13677-075a-422f-ab26-c4a94417485f","name":"OPENED","retryOnFail":false,"credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"envios_emails","mode":"list","cachedResultName":"envios_emails"},"columns":{"mappingMode":"defineBelow","value":{"evento_id":"={{ $json.body.id }}"},"matchingColumns":["evento_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fecha_envio","displayName":"fecha_envio","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"smtp_usado","displayName":"smtp_usado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estado_envio","displayName":"estado_envio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"motivo_fallo","displayName":"motivo_fallo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"opened","displayName":"opened","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"fecha_apertura","displayName":"fecha_apertura","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"clicked","displayName":"clicked","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"fecha_click","displayName":"fecha_click","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"replied","displayName":"replied","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"fecha_respuesta","displayName":"fecha_respuesta","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"bounced","displayName":"bounced","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"motivo_rebote","displayName":"motivo_rebote","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"correo_seleccionado","displayName":"correo_seleccionado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"evento_id","displayName":"evento_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"block","displayName":"block","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"unsubscribed","displayName":"unsubscribed","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,160],"id":"b232c769-74a2-4c80-9467-94ee52e2ab1d","name":"BLOCKED","credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"envios_emails","mode":"list","cachedResultName":"envios_emails"},"columns":{"mappingMode":"defineBelow","value":{"evento_id":"={{ $json.body.id }}","clicked":true,"fecha_click":"={{ new Date().toISOString() }}"},"matchingColumns":["evento_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fecha_envio","displayName":"fecha_envio","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"smtp_usado","displayName":"smtp_usado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estado_envio","displayName":"estado_envio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"motivo_fallo","displayName":"motivo_fallo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"opened","displayName":"opened","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"fecha_apertura","displayName":"fecha_apertura","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"clicked","displayName":"clicked","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"fecha_click","displayName":"fecha_click","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"replied","displayName":"replied","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"fecha_respuesta","displayName":"fecha_respuesta","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"bounced","displayName":"bounced","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"motivo_rebote","displayName":"motivo_rebote","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"correo_seleccionado","displayName":"correo_seleccionado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"evento_id","displayName":"evento_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"block","displayName":"block","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"unsubscribed","displayName":"unsubscribed","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,360],"id":"509ade09-19fa-4aed-9224-25dd206a7862","name":"CLICKED","credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"envios_emails","mode":"list","cachedResultName":"envios_emails"},"columns":{"mappingMode":"defineBelow","value":{"evento_id":"={{ $json.body.id }}","unsubscribed":true},"matchingColumns":["evento_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fecha_envio","displayName":"fecha_envio","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"smtp_usado","displayName":"smtp_usado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estado_envio","displayName":"estado_envio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"motivo_fallo","displayName":"motivo_fallo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"opened","displayName":"opened","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"fecha_apertura","displayName":"fecha_apertura","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"clicked","displayName":"clicked","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"fecha_click","displayName":"fecha_click","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"replied","displayName":"replied","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"fecha_respuesta","displayName":"fecha_respuesta","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"bounced","displayName":"bounced","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"motivo_rebote","displayName":"motivo_rebote","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"correo_seleccionado","displayName":"correo_seleccionado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"evento_id","displayName":"evento_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"block","displayName":"block","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"unsubscribed","displayName":"unsubscribed","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-60],"id":"0c0a0f8c-d81e-44c9-be8c-7485c5fce985","name":"UNSUBSCRIBED","credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"DELIVERED","type":"main","index":0}],[{"node":"OPENED","type":"main","index":0}],[{"node":"UNSUBSCRIBED","type":"main","index":0}],[{"node":"BLOCKED","type":"main","index":0}],[{"node":"CLICKED","type":"main","index":0}]]},"OPENED":{"main":[[],[]]},"DELIVERED":{"main":[[],[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"JhhHLtCScJRMg4TX","timezone":"Europe/Madrid"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"51395d12-6216-4337-a7b2-6a9295b8db7a","triggerCount":1,"tags":[{"createdAt":"2025-04-26T17:58:30.361Z","updatedAt":"2025-04-26T17:58:30.361Z","id":"Hdvh62tjWpdoNDuk","name":"------  WEB SCRAPER"}]},{"createdAt":"2025-04-29T12:20:49.390Z","updatedAt":"2025-05-07T12:44:06.853Z","id":"4o5wXTcj87GNu6c5","name":"Postgress + INITIATE DB SQL Queries","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"6553d7a8-8013-4bf3-9f51-44e4e271237d","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"executeQuery","query":"-- Borrar tablas en orden correcto (con CASCADE)\nDROP TABLE IF EXISTS envios_emails CASCADE;\nDROP TABLE IF EXISTS empresas_sin_correos CASCADE;\nDROP TABLE IF EXISTS empresas CASCADE;\nDROP TABLE IF EXISTS productos CASCADE;\nDROP TABLE IF EXISTS sectores CASCADE;\nDROP TABLE IF EXISTS terminos_busqueda CASCADE;\n\n-- Crear tabla de sectores\nCREATE TABLE sectores (\n  id SERIAL PRIMARY KEY,\n  nombre TEXT NOT NULL UNIQUE,\n  descripcion TEXT,\n  fecha_creacion TIMESTAMP DEFAULT NOW()\n);\n\n-- Crear tabla de productos ofrecidos\nCREATE TABLE productos (\n  id SERIAL PRIMARY KEY,\n  nombre TEXT NOT NULL,\n  descripcion TEXT,\n  fecha_creacion TIMESTAMP DEFAULT NOW()\n);\n\n-- Crear tabla de términos de búsqueda\nCREATE TABLE terminos_busqueda (\n  id SERIAL PRIMARY KEY,\n  sector_id INTEGER REFERENCES sectores(id) ON DELETE SET NULL,\n  producto_id INTEGER REFERENCES productos(id) ON DELETE SET NULL,\n  searchStringsArray TEXT,\n  locationQuery TEXT,\n  maxCrawledPlacesPerSearch INTEGER DEFAULT 20,\n  estado TEXT DEFAULT 'pendiente',\n  fecha_creacion TIMESTAMP DEFAULT NOW()\n);\n\n-- Crear tabla de empresas obtenidas del scraping\nCREATE TABLE empresas (\n  id SERIAL PRIMARY KEY,\n  nombre TEXT NOT NULL,\n  sector_id INTEGER REFERENCES sectores(id) ON DELETE SET NULL,\n  termino_busqueda_id INTEGER REFERENCES terminos_busqueda(id) ON DELETE SET NULL,\n  sitio_web TEXT,\n  email TEXT,\n  telefono TEXT,\n  pais TEXT,\n  ciudad TEXT,\n  fecha_scrapeo TIMESTAMP DEFAULT NOW(),\n  resumen_empresa TEXT,\n  estado_envio TEXT DEFAULT 'pendiente'\n);\n\n-- Crear tabla de envíos de emails (aquí guardamos todo)\nCREATE TABLE envios_emails (\n  id SERIAL PRIMARY KEY,\n  empresa_id INTEGER REFERENCES empresas(id) ON DELETE CASCADE,\n  correo_seleccionado TEXT,\n  fecha_envio TIMESTAMP DEFAULT NOW(),\n  smtp_usado TEXT,\n  evento_id INTEGER,\n  estado_envio TEXT, -- ejemplos: 'enviado', 'fallido'\n  motivo_fallo TEXT,\n  opened BOOLEAN DEFAULT NULL,\n  fecha_apertura TIMESTAMP DEFAULT NULL,\n  clicked BOOLEAN DEFAULT NULL,\n  fecha_click TIMESTAMP DEFAULT NULL,\n  replied BOOLEAN DEFAULT NULL,\n  fecha_respuesta TIMESTAMP DEFAULT NULL,\n  bounced BOOLEAN DEFAULT NULL,\n  motivo_rebote TEXT DEFAULT NULL,\n  block BOOLEAN DEFAULT NULL,\n  unsubscribed BOOLEAN DEFAULT NULL,\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[220,0],"id":"86d69dac-7cbc-47c9-abde-dca733821a6d","name":"SQL SCHEMA","credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO sectores (nombre, descripcion) VALUES\n  ('inmobiliarias', 'Empresas dedicadas a la compraventa, alquiler o promoción de bienes inmuebles.'),\n  ('abogados_juridico', 'Despachos de abogados, bufetes jurídicos o asesorías legales.'),\n  ('clinicas_medicas', 'Clínicas generales y centros médicos que ofrecen atención primaria o especializada.'),\n  ('clinicas_dentales', 'Clínicas odontológicas, dentistas y centros de salud bucodental.'),\n  ('clinicas_esteticas', 'Centros de medicina estética, tratamientos faciales y corporales.'),\n  ('agencias_marketing', 'Agencias de marketing digital, publicidad o comunicación visual.'),\n  ('consultorias', 'Consultorías de negocio, estrategia, RRHH, tecnología u otras especialidades.'),\n  ('ecommerce', 'Tiendas online que venden productos o servicios a través de plataformas digitales.'),\n  ('hoteles_alojamientos', 'Hoteles, hostales, casas rurales y alojamientos turísticos.'),\n  ('restauracion', 'Restaurantes, cafeterías, bares y negocios de comida.'),\n  ('formacion_academias', 'Centros de formación, academias, cursos online o presenciales.'),\n  ('automocion', 'Talleres, concesionarios, compraventa de vehículos.'),\n  ('tecnologia_software', 'Empresas de desarrollo de software, apps o soluciones tecnológicas.'),\n  ('moda_textil', 'Tiendas o marcas de ropa, complementos o calzado.'),\n  ('servicios_financieros', 'Asesorías contables, financieras o gestorías.'),\n  ('salud_bienestar', 'Centros de yoga, fisioterapia, pilates, nutrición, etc.'),\n  ('eventos_bodas', 'Organizadores de eventos, bodas, banquetes, catering.');\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[460,0],"id":"1b180153-6cdc-498b-83c2-c70c2c0bd231","name":"Insert -  SERCTORES","credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO productos (nombre, descripcion) VALUES\n-- Chatbots\n('chatbot_ventas_postventas', 'Automatiza todo el ciclo de ventas y postventa con un chatbot conversacional con inteligencia artificial entrenado para captar, calificar y nutrir leads automáticamente, mientras gestiona solicitudes postventa con empatía y eficiencia. Integra formularios, campañas y WhatsApp Business para convertir visitantes en clientes cualificados sin intervención humana. En la fase de postventa, el sistema gestiona cambios, devoluciones, incidencias y encuestas NPS en tiempo real. Compatible con tu CRM, calendario, herramientas de ticketing o ERP. Ahorra hasta un 80% del tiempo operativo del equipo comercial, reduce el tiempo de respuesta y mejora la experiencia del cliente.'),\n\n('chatbot_atencion_cliente', 'Un asistente virtual con IA disponible 24/7 que responde preguntas frecuentes, resuelve incidencias simples y escala los casos más complejos a un humano, todo desde WhatsApp, web o cualquier canal digital. Diseñado para clínicas, asesorías, ecommerce y cualquier empresa que reciba múltiples consultas repetitivas. Permite ahorrar horas de atención manual al día, mantener la trazabilidad del cliente, responder con coherencia y recopilar información crítica como síntomas, documentación o tipo de incidencia. Integrable con sistemas de tickets, CRMs y bases de datos existentes. La solución ideal para mejorar la satisfacción y retención del cliente sin escalar plantilla.'),\n\n('chatbot_inmobiliarias', 'Elimina la pérdida de tiempo con leads no cualificados. Este chatbot especializado para inmobiliarias interactúa automáticamente con interesados de Idealista, Fotocasa, web propia u otros canales. Recoge datos clave como situación laboral, avales, duración deseada del contrato, tipo de inmueble buscado, y entrega un resumen estructurado al comercial. Filtra leads no aptos y prioriza los mejores sin intervención manual. Incluye agendamiento de visitas, integración con CRMs y envío automático de PDFs o tours virtuales. Reduce el tiempo de gestión en un 70% y aumenta la conversión con procesos más rápidos y enfocados.'),\n\n('chatbot_generico', 'Un asistente conversacional adaptable a cualquier sector: abogados, clínicas, consultorías, educación o tecnología. Este chatbot IA guía al interesado a través de una secuencia de preguntas estratégicas, extrae la información crítica (necesidades, urgencias, documentación, horarios), la resume y la entrega estructurada al equipo correspondiente. Permite operar 24/7 sin saturar al personal humano. Escalable, personalizable, compatible con WhatsApp, email, SMS y landing pages. Ideal para empresas que necesitan automatizar procesos repetitivos sin perder el trato personalizado. Aumenta la eficiencia, reduce costes operativos y mejora la tasa de respuesta.'),\n\n-- OCRs\n('ocr_facturas', 'Extrae automáticamente todos los datos clave de facturas de proveedores, servicios, electricidad o gas, con una combinación de OCR avanzado y modelos LLM como GPT-4.1 y Gemini. Verifica, corrige y estructura los datos para alimentar sistemas contables o ERPs sin intervención humana. Detecta inconsistencias, valida importes, categoriza gastos y actualiza dashboards financieros. Integrable con email, Dropbox, Google Drive y bases de datos SQL. Ideal para asesorías, clínicas, despachos, inmobiliarias y pymes con flujos contables intensivos. Reduce el tiempo de procesamiento hasta un 90% y elimina errores manuales.'),\n\n('ocr_documentos_legales', 'Solución OCR con inteligencia artificial especializada en procesar documentos jurídicos: contratos, sentencias, demandas, notificaciones, escrituras y más. Extrae con precisión cláusulas, fechas, datos de partes involucradas, importes, plazos y requisitos legales. Clasifica documentos automáticamente, identifica secciones clave y puede integrarse con bases de datos, sistemas de gestión documental o CRMs jurídicos. Diseñado para despachos de abogados, asesorías y departamentos legales. Ahorra cientos de horas de lectura y transcripción, reduce errores humanos y mejora el cumplimiento legal.');\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[700,0],"id":"cf5e524b-c03e-4e89-bcb0-f070114c346b","name":"Insert -  PRODUCTOS","credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"SQL SCHEMA","type":"main","index":0}]]},"SQL SCHEMA":{"main":[[{"node":"Insert -  SERCTORES","type":"main","index":0}]]},"Insert -  SERCTORES":{"main":[[{"node":"Insert -  PRODUCTOS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"01d1daf8-d185-4ccb-93c7-229d77d84c58","triggerCount":0,"tags":[{"createdAt":"2025-04-26T17:58:30.361Z","updatedAt":"2025-04-26T17:58:30.361Z","id":"Hdvh62tjWpdoNDuk","name":"------  WEB SCRAPER"}]},{"createdAt":"2025-05-06T16:03:56.228Z","updatedAt":"2025-05-07T08:06:51.081Z","id":"WrJJiQpLbnrIBWsE","name":"WEB SCRAPER - GEMINI TESTING","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"b333cffb-9233-4cf6-926b-3b9c5202aa77","name":"API_TOKEN","value":"apify_api_glcsYh6J6HYdakETFDONt3oKi8v1aA2zs6t1","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-100,860],"id":"f0823883-41de-4639-9336-a4be90f69d45","name":"API TOKEN"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-60,1140],"id":"8a8a6ea3-8052-4636-be68-c99d8c827304","name":"Wait","webhookId":"364b37d9-fa53-4997-8d62-b50a601c47f2"},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/{{ $('API - Parametros1').first().json.actor }}/runs?token={{ $('API TOKEN').first().json.API_TOKEN }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"searchStringsArray\": [\n    \"{{ $('API - Parametros1').first().json.searchStringsArray }}\"\n  ],\n  \"locationQuery\": \"{{ $('API - Parametros1').first().json.locationQuery }}\",\n  \"website\": \"withWebsite\",\n  \"maxcrawledplacespersearch\": 5,\n  \"searchMatching\": \"all\",\n  \"skipClosedPlaces\": true\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,860],"id":"1cf39a30-3d17-4068-a1b2-0c6df2d3259f","name":"Execute RUN","retryOnFail":true},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}?token=apify_api_glcsYh6J6HYdakETFDONt3oKi8v1aA2zs6t1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[140,1140],"id":"31949a57-3498-4925-ba4e-224bb00d34b3","name":"RUN Status"},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items?token=apify_api_glcsYh6J6HYdakETFDONt3oKi8v1aA2zs6t1&clean=true","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,1540],"id":"abdc088b-e341-4744-a462-28c28e9b2ae5","name":"Get Run DataSET"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a38a378f-3bb1-4bcc-9898-f4b1e77502b1","leftValue":"={{ $json.emails }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,1540],"id":"dc35bb1d-0ffd-42cd-bd0e-f27b3b309f6f","name":"If1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[780,1520],"id":"9c607fff-9b8c-4269-8a67-6cfdd8c9c45d","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"495f81c1-4d49-49f6-9b6e-d5fa6292c0fe","name":"id","value":"={{ $json.id }}","type":"number"},{"id":"f8244260-744a-413a-a886-905cd361bc52","name":"nombre","value":"={{ $json.nombre }}","type":"string"},{"id":"237170e6-71db-45a4-84ce-2dcce762ee00","name":"sitio_web","value":"={{ $json.sitio_web }}","type":"string"},{"id":"3cf00a5b-dda4-468d-ba19-e74dc0f0cef6","name":"pais","value":"={{ $json.pais }}","type":"string"},{"id":"ddbebf40-2027-4ee6-822c-24383806c856","name":"resumen_empresa","value":"={{ $json.resumen_empresa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1080,1240],"id":"00d9ec6c-c44b-4477-aa83-30f4026f6bed","name":"Edit Fields"},{"parameters":{"content":"## ApiFy PARAMETROS\n","height":240,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[100,720],"id":"72fe1b37-7c01-454a-9e79-f1612626f829","name":"Sticky Note"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"sector_id\": 1,\n  \"producto_id\": 2,\n  \"searchStringsArray\": \"Inmobiliarias en Sevilla\",\n  \"locationQuery\": \"Sevilla, España\",\n  \"whatsAppNumber\": \"34644654555\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-460,1080],"id":"23e17d9c-76b9-4f35-905d-3c56ed8cb149","name":"When Executed by Another Workflow","disabled":true},{"parameters":{"operation":"send","phoneNumberId":"=538941502641930","recipientPhoneNumber":"={{ $('When Executed by Another Workflow').first().json.whatsAppNumber }}","textBody":"=🕵️ - MENSAJE DESDE WEB SCRAPER WORKFLOW\n\n- Proceso finalizado correctamente\n\n- Se ha completado la búsqueda de empresas usando el término: \"{{ $('When Executed by Another Workflow').first().json.searchStringsArray }}\"\n\n- Los resúmenes personalizados de todas las empresas encontradas han sido elaborados con éxito.\n\n¡Todo listo para avanzar con la siguiente búsqueda!","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[2220,1020],"id":"c70d0ed8-2179-4b96-b8f9-bb00623a7187","name":"WhatsApp Business Cloud","webhookId":"5e41b3d5-0487-4bd2-9f06-8e2ede2a2ef5","credentials":{"whatsAppApi":{"id":"oYDtGmYOnwGjvTHH","name":"WhatsApp Julio AI Consulting"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"71ad1ba7-a7b3-4685-a0be-aecdc6f4bf88","leftValue":"={{ $json.data.status }}","rightValue":"READY","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[920,560],"id":"73a70f16-11fd-4d3c-9e80-78dbcb47e44c","name":"If3"},{"parameters":{"operation":"send","phoneNumberId":"=538941502641930","recipientPhoneNumber":"={{ $('When Executed by Another Workflow').first().json.whatsAppNumber }}","textBody":"=🕵️ - MENSAJE DESDE WEB SCRAPER WORKFLOW\n\n¡Proceso RUN APIFY completado!\n\n- Status final: {{ $json.data.status }}\n\n- Ahora comenzamos el siguiente proceso: Creación de la base de datos.\n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[700,1120],"id":"2e9ed69c-3dfc-4c59-b1aa-ee2737dc6abf","name":"WhatsApp Business Cloud3","webhookId":"ef89f8ea-dcca-4db3-a6d3-3cd056e0479c","credentials":{"whatsAppApi":{"id":"oYDtGmYOnwGjvTHH","name":"WhatsApp Julio AI Consulting"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b432f4af-1315-432a-a81d-aa01373b00a5","leftValue":"={{ $json.data.status }}","rightValue":"SUCCEEDED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,1140],"id":"ba6ddbdf-18c1-4fac-b457-906225873af3","name":"TERMINADO?"},{"parameters":{"assignments":{"assignments":[{"id":"f86aa55d-cb82-4dd3-830a-4d45bc0f9468","name":"sector_id","value":"={{ $('When Executed by Another Workflow').item.json.sector_id }}","type":"number"},{"id":"5f2b4d1b-9b80-47c6-91b4-29ce60e613d6","name":"producto_id","value":"={{ $('When Executed by Another Workflow').item.json.producto_id }}","type":"number"},{"id":"5f39e2cb-5605-4d94-be35-1fc51b0eb801","name":"searchStringsArray","value":"={{ $('When Executed by Another Workflow').item.json.searchStringsArray }}","type":"string"},{"id":"f08935e5-c4bd-4bee-af83-b580f5bd8c44","name":"locationQuery","value":"={{ $('When Executed by Another Workflow').item.json.locationQuery }}","type":"string"},{"id":"37e85735-529e-4782-b54a-dfbd8bec7761","name":"maxCrawledPlacesPerSearch","value":"={{ $('When Executed by Another Workflow').item.json.maxCrawledPlacesPerSearch }}","type":"number"},{"id":"d0c211a7-effb-4c47-9a22-8e23f656663f","name":"actor","value":"lukaskrivka~google-maps-with-contact-details","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,820],"id":"dd5216dc-9fcb-4be7-87cc-bc8e9aa9af65","name":"API - Parametros1"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"terminos_busqueda","mode":"list","cachedResultName":"terminos_busqueda"},"columns":{"mappingMode":"defineBelow","value":{"sector_id":"={{ $json.sector_id }}","producto_id":"={{ $json.producto_id }}","searchstringsarray":"={{ $json.searchStringsArray }}","locationquery":"={{ $json.locationQuery }}","maxcrawledplacespersearch":"={{ $json.maxCrawledPlacesPerSearch }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sector_id","displayName":"sector_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"producto_id","displayName":"producto_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"searchstringsarray","displayName":"searchstringsarray","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"locationquery","displayName":"locationquery","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"maxcrawledplacespersearch","displayName":"maxcrawledplacespersearch","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fecha_creacion","displayName":"fecha_creacion","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[380,820],"id":"d0724216-f86c-4076-b5c6-c1d60f16e5b3","name":"Insert - TERMINO_BUSQUEDA","credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1604a75b-6eb8-48da-9a25-9362c82c8806","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1320,1520],"id":"32c48b83-b109-4766-b960-8ddaba05ff6f","name":"Existe EMPRESA?"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"columns":{"mappingMode":"defineBelow","value":{"nombre":"={{ $('Loop Over Items').item.json.title }}","sitio_web":"={{ (() => {\n    const website = $('Loop Over Items').item.json.website;\n    if (!website) return null;\n    const match = website.match(/^((?:https?:\\/\\/)?[^\\/]+\\/)/);\n    return match ? match[1] : null;\n})() }}","sector_id":"={{ $('Insert - TERMINO_BUSQUEDA').first().json.sector_id }}","termino_busqueda_id":"={{ $('Insert - TERMINO_BUSQUEDA').first().json.id }}","email":"={{ $('Loop Over Items').item.json.emails }}","telefono":"={{ $('Loop Over Items').item.json.phone }}","pais":"={{ $('Loop Over Items').item.json.countryCode }}","ciudad":"={{ $('Loop Over Items').item.json.city }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nombre","displayName":"nombre","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sector_id","displayName":"sector_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"termino_busqueda_id","displayName":"termino_busqueda_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"sitio_web","displayName":"sitio_web","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_scrapeo","displayName":"fecha_scrapeo","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"resumen_empresa","displayName":"resumen_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1140,1880],"id":"e40e3e03-11c3-44fe-a76b-ff93bff9ae80","name":"Insert - EMPRESAS","credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"terminos_busqueda","mode":"list","cachedResultName":"terminos_busqueda"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Insert - TERMINO_BUSQUEDA').first().json.id }}","estado":"completado"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"sector_id","displayName":"sector_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"producto_id","displayName":"producto_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"searchstringsarray","displayName":"searchstringsarray","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"locationquery","displayName":"locationquery","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"maxcrawledplacespersearch","displayName":"maxcrawledplacespersearch","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_creacion","displayName":"fecha_creacion","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[560,1340],"id":"16ff43a5-7537-4060-9dd6-f4b7c4f8e17b","name":"Update - Termino_busqueda -> COMPLETADO","executeOnce":true,"credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}},{"parameters":{"operation":"send","phoneNumberId":"=538941502641930","recipientPhoneNumber":"={{ $('When Executed by Another Workflow').first().json.whatsAppNumber }}","textBody":"=🕵️ - MENSAJE DESDE WEB SCRAPER WORKFLOW\n\nHemos confirmado tu solicitud.\n\n- El proceso está en curso y estamos esperando a que finalice.\n\n- ID del run: {{ $json.data.id }}\n\n- Te notificaremos en cuanto esté completamente terminado. \n\n¡Gracias por tu paciencia!","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1160,540],"id":"50c74fc7-4a51-4f78-b6cf-ac5b4871b4fa","name":"WhatsApp CORRECTO","webhookId":"5d45ceaa-a8cc-423a-9295-05a638d67b5d","credentials":{"whatsAppApi":{"id":"oYDtGmYOnwGjvTHH","name":"WhatsApp Julio AI Consulting"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1680,1260],"id":"95861bdb-1f86-4ac3-a28f-c4ce17917d8c","name":"Loop Over Items1"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Loop Over Items1').item.json.id }}","resumen_empresa":"={{ $json.output }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"nombre","displayName":"nombre","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sector_id","displayName":"sector_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"termino_busqueda_id","displayName":"termino_busqueda_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sitio_web","displayName":"sitio_web","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fecha_scrapeo","displayName":"fecha_scrapeo","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"resumen_empresa","displayName":"resumen_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2400,1380],"id":"6188b133-b270-4e52-84d5-ebec91698b74","name":"Postgres","credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"where":{"values":[{"column":"sitio_web","value":"={{ (() => {\n    const website = $('Loop Over Items').item.json.website;\n    if (!website) return null;\n    const match = website.match(/^((?:https?:\\/\\/)?[^\\/]+\\/)/);\n    return match ? match[1] : null;\n})() }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1000,1540],"id":"bb9e3689-7114-452e-8910-46a175248ffa","name":"Postgres1","executeOnce":false,"alwaysOutputData":true,"retryOnFail":false,"credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"655170c5-eba7-4c92-a092-6fab84876f96","leftValue":"={{ $json.resumen_empresa }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1340,1240],"id":"1bbe65f4-b937-475d-b849-b704eea79d90","name":"Resumen_empresa?"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1940,1140],"id":"39ee68da-c6a8-4811-a977-e9b0e5cb80e6","name":"Edit Fields2","executeOnce":true},{"parameters":{"operation":"send","phoneNumberId":"=538941502641930","recipientPhoneNumber":"={{ $('When Executed by Another Workflow').first().json.whatsAppNumber }}","textBody":"=🕵️ - MENSAJE DESDE WEB SCRAPER WORKFLOW\n\nHa ocurrido un error. \n\nID del run: {{ $json.data.id }}\n\nStatus: {{ $json.data.status }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1120,720],"id":"6beb34d3-415f-41f6-adb6-78615b4b3a06","name":"WhatsApp ERROR","webhookId":"c389674e-573c-4a75-bf8a-22a0f26872c0","credentials":{"whatsAppApi":{"id":"oYDtGmYOnwGjvTHH","name":"WhatsApp Julio AI Consulting"}}},{"parameters":{"workflowId":{"__rl":true,"value":"iyB7zR9mxRwdeMNZ","mode":"list","cachedResultName":"ERROR HANDLING"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1400,1900],"id":"580291d5-80cc-4bee-9fd0-06a2a7403d2c","name":"ERROR HANDLING"},{"parameters":{"workflowId":{"__rl":true,"value":"iyB7zR9mxRwdeMNZ","mode":"list","cachedResultName":"ERROR HANDLING"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2320,1760],"id":"ba77f692-ca31-4561-a4a5-acd1da5067e6","name":"ERROR HANDLING1"},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-05-06","options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1880,1660],"id":"e1224a7e-f340-4711-93d7-037fda3e4f8a","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"GIzBaUk1llHJIk8g","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Estos son los datos de la empresa:\n\nid: {{ $json.id }}\nnombre: {{ $json.nombre }}\nsitio_web: {{ $json.sitio_web }}\npais: {{ $json.pais }}","options":{"systemMessage":"=🛠️ PROMPT para Agente Especializado en Análisis y Resumen Estricto de Sitios Web de Empresas para Identificación de Necesidades de Automatización/IA\n\nRol:\nActúa como un agente investigador altamente preciso y objetivo, especializado en el análisis estricto de contenido web para identificar información explícita relevante para posibles optimizaciones con automatización e IA. Tu única fuente de información es el sitio web proporcionado.\n\nObjetivo de la Tarea:\nGenerar un resumen detallado y estructurado de una empresa basándote exclusivamente en el contenido textual y visual explícito de su sitio web. Este resumen debe estar enfocado en identificar aspectos que podrían ser puntos de dolor o áreas de mejora relevantes para nuestras soluciones de automatización e IA (chatbots, OCR, gestión de procesos, etc.), solo si la web lo menciona explícitamente. Además, deberás intentar localizar un correo electrónico de contacto.\n\n📦 Flujo de Trabajo\n\nSigue estos pasos rigurosos para cada empresa:\n\nRecibirás los datos de una empresa, cada una con: id, nombre, sector, sitio_web, email (inicialmente puede estar vacío), teléfono, país, ciudad, etc.\n\nPara cada empresa individualmente:\n\nAccede y explora de forma sistemática y detallada el sitio web (sitio_web). Navega por las secciones principales (Inicio, Quiénes Somos/Nosotros, Servicios, Productos, Contacto, Clientes, Casos de Éxito, Blog, etc.).\n\nExtrae ÚNICAMENTE información que esté presente de forma explícita y directamente verificable en el texto, encabezados, descripciones o secciones dedicadas del sitio web.\n\nBusca activamente detalles que puedan sugerir procesos internos o externos, puntos de interacción con clientes, o desafíos mencionados, SIEMPRE Y CUANDO ESTÉN EXPLÍCITAMENTE DESCRITOS. Ejemplos (si están explícitos):\n\nDescripción de sus servicios o productos.\n\nCómo interactúan con sus clientes (ej. \"gestionamos solicitudes por email\", \"nuestro equipo de ventas califica leads\").\n\nMención de volúmenes o flujos de trabajo (ej. \"procesamos un alto volumen de...\", \"la gestión manual de X...\").\n\nDesafíos o problemas que ellos mismos mencionan estar resolviendo para sus clientes o que enfrentan internamente (ej. \"ayudamos a nuestros clientes a reducir el papeleo\", \"nuestra misión es agilizar X\").\n\nTipos de documentos que manejan (facturas, contratos, formularios, etc.), si lo especifican.\n\nCanales de comunicación (chat en web, WhatsApp, formularios de contacto, etc.), si los muestran o describen.\n\nPúblico objetivo o sector(es) al que se dirigen.\n\nDiferenciadores o valores explícitos que mencionan (ej. \"rapidez en la respuesta\", \"eficiencia\", \"digitalización\", \"orientados al dato\").\n\nIntenta localizar un correo electrónico de contacto explícitamente listado en el sitio web (comúnmente en la página de Contacto, pie de página, o sección \"Quiénes Somos\").\n\nGenera un resumen estructurado utilizando las categorías que se definen a continuación. Si no encuentras información explícita para una categoría, indica claramente \"Información no explícita en el sitio web\" o \"No se encontró información relevante\". NUNCA inventes ni infieras.\n\n✅ Una vez finalizado el resumen para una empresa, devuélvelo DIRECTAMENTE como output, sin añadir introducciones, conclusiones, o mensajes adicionales.\n\nRepite el proceso para cada empresa de la lista.\n\nFinaliza solamente después de haber procesado y entregado el resumen estructurado para cada empresa.\n\n🌍 Adaptación de Idioma\n\nRealiza el resumen en el idioma oficial del pais donde se encuentra la empresa.\n\n\n🧠 Pasos de Razonamiento (empresa por empresa)\n\nAcceder al sitio_web y explorar su estructura y contenido.\n\nLeer cuidadosamente el texto en las secciones principales (Inicio, Sobre Nosotros, Servicios, etc.).\n\nIdentificar y extraer textualmente o parafraseando con precisión las descripciones explícitas de:\n\nSus servicios/productos principales.\n\nA quiénes se dirigen (sectores, tipos de clientes).\n\nCómo trabajan (si describen procesos internos o su metodología).\n\nCualquier mención directa a desafíos que enfrentan o que ayudan a sus clientes a resolver (ej. \"optimización de tiempo\", \"reducción de errores\", \"gestión de grandes volúmenes\").\n\nCualquier mención a tipos de documentos o datos que procesan.\n\nCualquier mención a canales de comunicación con clientes (chat, formularios, email, teléfono, WhatsApp).\n\nBuscar activamente un correo electrónico de contacto en las páginas relevantes y, en los casos en los que haya varios, elegir el que mas se corresponda al departamente de ventas, de informacion etc. Ejemplo: info@, sales@, hello@, contact@ etc.\n\nEstructurar toda la información explícitamente encontrada en el formato de salida definido. Para las secciones donde no se encontró información explícita, indicar claramente que no se encontró.\n\nPara y PIENSA en este paso para revisar estrictamente el resumen generado para asegurar que CADA PUNTO MENCIONADO está directamente respaldado por el contenido del sitio web y no es una inferencia o suposición. Eliminar cualquier frase que no cumpla este criterio.\n\n✅ Entregar el resumen estructurado como único output.\n\n📊 Formato de Salida del Resumen (Por Empresa)\n\nGenera el resumen para cada empresa utilizando la siguiente estructura (puedes usar Markdown para claridad, pero sin encabezados adicionales antes del bloque):\n\n\nCorreo_Electronico_Encontrado: [Correo electrónico explícito encontrado en la web, o \"No encontrado en el sitio web\"]\n\nDescripcion_General_Explicitada_en_Web:\n[Resumen conciso (2-4 frases) de lo que la empresa dice ser o hacer, EXPLICITAMENTE en su web. Si no es claro, indicar \"Descripción general no clara o no explicitada.\"]\n\nServicios_o_Productos_Clave_Segun_Web:\n[Lista de los servicios o productos principales que la empresa describe de forma EXPLICITA en su sitio web. Si no hay una lista clara, indicar \"Servicios/Productos no listados explícitamente.\"]\n\nProcesos_o_Tareas_Mencionados_en_Web:\n[Detalles EXPLICITOS encontrados en la web sobre cómo operan, cómo interactúan con clientes, flujos de trabajo mencionados, gestión de documentos o datos, etc. (Ej: \"gestionamos X solicitudes\", \"nuestro proceso de registro requiere Y\", \"trabajamos con Z documentos\"). Si no se describen procesos internos/externos explícitamente, indicar \"Procesos/Tareas no descritos explícitamente en el sitio web.\"]\n\nDesafios_o_Puntos_de_Dolor_Explicitamente_Mencionados_o_Abordados:\n[Cualquier problema, desafío, o punto de dolor que la empresa MENCIONA EXPLICITAMENTE en su web (ya sea que lo sufran ellos o que ayuden a sus clientes a resolverlo). Ej: \"ayudamos a reducir el tiempo de...\", \"nuestro objetivo es eliminar el papeleo\", \"optimizar la gestión de...\". Si no se mencionan desafíos/puntos de dolor explícitamente, indicar \"Desafíos/Puntos de dolor no mencionados explícitamente en el sitio web.\"]\n\nTipos_de_Documentos_o_Datos_Mencionados_en_Web:\n[Cualquier mención EXPLICITA a tipos de documentos (facturas, contratos, formularios, informes, etc.) o datos específicos con los que trabajan o que procesan. Si no se mencionan explícitamente, indicar \"Tipos de documentos/datos no mencionados explícitamente en el sitio web.\"]\n\nCanales_de_Interaccion_con_Clientes_Mencionados_en_Web:\n[Canales de comunicación o interacción con clientes que se MENCIONAN EXPLICITAMENTE o se ofrecen en la web (ej. formulario web, chat online, WhatsApp Business number, email para consultas, etc.). Si no se mencionan explícitamente canales específicos, indicar \"Canales de interacción no mencionados explícitamente en el sitio web.\"]\n\nClientes_o_Sectores_Objetivo_Explicitados_en_Web:\n[Descripción de los tipos de clientes o sectores a los que se dirigen, TAL COMO APARECE EXPLICITAMENTE en la web. Si no se mencionan explícitamente, indicar \"Clientes/Sectores objetivo no mencionados explícitamente en el sitio web.\"]\n\nDiferenciadores_o_Valores_Clave_Explicitados_en_Web:\n[Los principales puntos diferenciadores o valores que la empresa MENCIONA EXPLICITAMENTE como importantes (ej. \"innovación\", \"eficiencia\", \"atención personalizada\", \"experiencia\", \"tecnología avanzada\"). Si no se mencionan explícitamente, indicar \"Diferenciadores/Valores clave no mencionados explícitamente en el sitio web.\"]\n\n---\n\n\nNota: La estructura ---...--- debe rodear el bloque de resumen de cada empresa.\n\n⚠️ Restricciones Claras y Cruciales\n\n❌ PROHIBIDO INVENTAR O INFERIR: No completes información basándote en el nombre de la empresa, su sector general, o suposiciones lógicas. Si la web no lo dice explícitamente, NO LO PONGAS y marca la sección como \"No encontrado\" o similar.\n\n❌ No usar lenguaje especulativo como \"parece que\", \"probablemente\", \"podrían estar enfrentando\", \"se dedica a\" (a menos que sea parte de una descripción explícita que parafraseas).\n\n✅ SOLO CONTENIDO VERIFICABLE: Cada punto en el resumen debe poder ser señalado en el sitio web.\n\n✅ Usar estrictamente el formato de salida estructurado proporcionado.\n\n✅ Entregar solo el resumen estructurado para cada empresa, uno tras otro, sin texto adicional.\n\n✅ La búsqueda de email debe ser activa en el sitio web, no solo usar el del JSON inicial si está vacío. Si lo encuentras, úsalo; si no, marca como \"No encontrado\".","maxIterations":100}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1960,1380],"id":"05a9ef8f-7ba4-4b56-832a-2ee909181553","name":"AI Agent","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"descriptionType":"manual","toolDescription":"Guarda en la base de datos un resumen claro y específico sobre la empresa analizada.","operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $fromAI(\"id\", \"id de la empresa\") }}","resumen_empresa":"={{ $fromAI(\"resumen_empresa\", \"Resumen y descripción de la empresa basado en el análisis del sitio web.\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"nombre","displayName":"nombre","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sector_id","displayName":"sector_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"termino_busqueda_id","displayName":"termino_busqueda_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sitio_web","displayName":"sitio_web","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fecha_scrapeo","displayName":"fecha_scrapeo","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"resumen_empresa","displayName":"resumen_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[3560,1640],"id":"2ca040fb-d033-4db7-a915-665107da6ef5","name":"almacenar_resumen_empresa2","credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}},{"parameters":{"operation":"send","phoneNumberId":"=538941502641930","recipientPhoneNumber":"={{ $('When Executed by Another Workflow').first().json.whatsAppNumber }}","textBody":"=🗄️ Base de datos actualizada exitosamente.\n\n➕ {{ $json.data.length }} empresas fueron añadidas al sistema.","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[3580,980],"id":"ff915036-7cb8-4f3e-82d2-15973017f6f9","name":"WhatsApp Business Cloud5","webhookId":"3dc2e830-5a69-4c48-9af1-8fcaee26ef9e","credentials":{"whatsAppApi":{"id":"oYDtGmYOnwGjvTHH","name":"WhatsApp Julio AI Consulting"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').first().json.whatsAppNumber }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3440,1660],"id":"bf8373be-6db9-4c9c-bd60-1e3ab02a2c8d","name":"Postgres Chat Memory2","credentials":{"postgres":{"id":"dGsXmh26KMQqcZF9","name":"Postgres Chatdb"}}},{"parameters":{"operation":"send","phoneNumberId":"=538941502641930","recipientPhoneNumber":"={{ $('When Executed by Another Workflow').first().json.whatsAppNumber }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[3740,1420],"id":"5716d874-02b6-4634-b475-ffb3c8338818","name":"WhatsApp Business Cloud2","webhookId":"0a0b899a-1f83-4356-a0f7-cbb704c4e1ed","credentials":{"whatsAppApi":{"id":"oYDtGmYOnwGjvTHH","name":"WhatsApp Julio AI Consulting"}}},{"parameters":{"jsCode":"// Node Function para n8n\n\n// Recoge todos los items de entrada\nconst empresas = $input.all().map(item => item.json);\n\n// Crea una variable \"data\" con toda la lista\nreturn [\n  {\n    json: {\n      data: empresas\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3280,1060],"id":"b4755232-3a14-4185-a0c9-0a1da700e3ed","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"495f81c1-4d49-49f6-9b6e-d5fa6292c0fe","name":"id","value":"={{ $json.id }}","type":"number"},{"id":"f8244260-744a-413a-a886-905cd361bc52","name":"nombre","value":"={{ $json.nombre }}","type":"string"},{"id":"237170e6-71db-45a4-84ce-2dcce762ee00","name":"sitio_web","value":"={{ $json.sitio_web }}","type":"string"},{"id":"3cf00a5b-dda4-468d-ba19-e74dc0f0cef6","name":"pais","value":"={{ $json.pais }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3080,1060],"id":"e009cd72-f03a-460a-9a46-c6a55647de26","name":"Edit Fields1"},{"parameters":{"promptType":"define","text":"=Esta es la lista de todas las direcciones de las empresas: {{ $json.data.toJsonString() }}","options":{"systemMessage":"=# 🛠️ PROMPT para Agente Especializado en Análisis y Resumen Extensivo de Empresas (trabajando sobre una Lista de Empresas)\n\n**Rol:**  \nActúa como un agente investigador experto en marketing B2B. Recibirás una lista completa de empresas, y tu tarea será analizar profundamente el sitio web de cada empresa individualmente, generar un resumen exhaustivo de cada una, y **usar obligatoriamente** la herramienta `almacenar_resumen_empresa` para guardar el resultado en la base de datos.\n\n---\n\n## 📦 Flujo de Trabajo\n\nSigue **estos pasos estrictos** para cada empresa:\n\n1. Recibirás una lista JSON de empresas, cada una con: `id`, `nombre`, `sector`, `sitio_web`, `email`, `teléfono`, `país`, `ciudad`, etc.\n2. Para **cada empresa individualmente**:\n   - Analiza exhaustivamente su sitio web (`sitio_web`).\n   - Extrae toda la información relevante para una futura personalización comercial.\n   - Genera un **resumen extenso, estructurado y rico en detalles**.\n   - 🟢 **Llama obligatoriamente a la herramienta `almacenar_resumen_empresa` enviando los siguientes datos en formato JSON**:\n     ```json\n     {\n       \"id\": <id_empresa>,\n       \"resumen\": \"<resumen generado>\"\n     }\n     ```\n   - Asegúrate de que la herramienta ha sido llamada correctamente y responde sin error.\n3. Repite el proceso para cada empresa de la lista.\n4. Finaliza solamente después de haber procesado y **confirmado el almacenamiento** de todos los resúmenes.\n\n---\n\n## 🌍 Adaptación de Idioma\n\n- Realiza el resumen en el mismo idioma del país donde esté ubicada la empresa.\n\n---\n\n## 🧠 Pasos de Razonamiento (empresa por empresa)\n\n1. Explorar en detalle el sitio web de la empresa.\n2. Detectar especialidades, zonas, clientes objetivo.\n3. Extraer testimonios, diferenciadores y estilo de comunicación.\n4. Redactar el resumen extenso con toda la información recolectada.\n5. ⚠️ **Llamar a `almacenar_resumen_empresa` de forma real, no solo mencionar que se hizo.**\n6. Confirmar que el resumen fue almacenado antes de continuar.\n7. IMPORTANTE: Buscar secciones como \"about us\", \"quiénes somos\" o \"sobre nosotros\" para obtener información adicional.\n\n---\n\n## 📥 Inputs Esperados\n\n- Lista JSON de empresas en formato array, cada una con mínimo: `id`, `nombre`, `sector`, `sitio_web`, `pais`, `ciudad`, `email`, `telefono`.\n\n---\n\n## ✅ Salida Esperada\n\n- Un mensaje final al usuario que resuma brevemente lo que hiciste (cuántas empresas analizaste y almacenaste correctamente).\n","maxIterations":100}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[3300,1420],"id":"b976e3d2-89ad-4df7-9b56-cce6112338b6","name":"AI Agent2","retryOnFail":true,"disabled":true},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3300,1620],"id":"2c1cf474-91c0-428c-8707-2ab234b37a60","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"GIzBaUk1llHJIk8g","name":"Google Gemini(PaLM) Api account"}},"disabled":true},{"parameters":{"modelName":"models/gemini-2.5-pro-preview-05-06","options":{"temperature":0}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-620,2120],"id":"9e4ad214-f5d3-40d1-b868-9ff5dddee491","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"GIzBaUk1llHJIk8g","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Estos son los datos de la empresa:\n\nsitio_web: https://ideasforge.com/\npais: España","hasOutputParser":true,"options":{"systemMessage":"=🛠️ PROMPT para Agente Especializado en Análisis y Resumen Estricto de Sitios Web de Empresas para Identificación de Necesidades de Automatización/IA\n\nRol:\nActúa como un agente investigador altamente preciso y objetivo, especializado en el análisis estricto de contenido web para identificar información explícita relevante para posibles optimizaciones con automatización e IA. Tu única fuente de información es el sitio web proporcionado.\n\nObjetivo de la Tarea:\nGenerar un resumen detallado y estructurado de una empresa basándote exclusivamente en el contenido textual y visual explícito de su sitio web. Este resumen debe estar enfocado en identificar aspectos que podrían ser puntos de dolor o áreas de mejora relevantes para nuestras soluciones de automatización e IA (chatbots, OCR, gestión de procesos, etc.), solo si la web lo menciona explícitamente. Además, deberás intentar localizar un correo electrónico de contacto.\n\n📦 Flujo de Trabajo\n\nSigue estos pasos rigurosos para cada empresa:\n\nRecibirás los datos de una empresa, cada una con: id, nombre, sector, sitio_web, email (inicialmente puede estar vacío), teléfono, país, ciudad, etc.\n\nPara cada empresa individualmente:\n\nAccede y explora de forma sistemática y detallada el sitio web (sitio_web). Navega por las secciones principales (Inicio, Quiénes Somos/Nosotros, Servicios, Productos, Contacto, Clientes, Casos de Éxito, Blog, etc.).\n\nExtrae ÚNICAMENTE información que esté presente de forma explícita y directamente verificable en el texto, encabezados, descripciones o secciones dedicadas del sitio web.\n\nBusca activamente detalles que puedan sugerir procesos internos o externos, puntos de interacción con clientes, o desafíos mencionados, SIEMPRE Y CUANDO ESTÉN EXPLÍCITAMENTE DESCRITOS. Ejemplos (si están explícitos):\n\nDescripción de sus servicios o productos.\n\nCómo interactúan con sus clientes (ej. \"gestionamos solicitudes por email\", \"nuestro equipo de ventas califica leads\").\n\nMención de volúmenes o flujos de trabajo (ej. \"procesamos un alto volumen de...\", \"la gestión manual de X...\").\n\nDesafíos o problemas que ellos mismos mencionan estar resolviendo para sus clientes o que enfrentan internamente (ej. \"ayudamos a nuestros clientes a reducir el papeleo\", \"nuestra misión es agilizar X\").\n\nTipos de documentos que manejan (facturas, contratos, formularios, etc.), si lo especifican.\n\nCanales de comunicación (chat en web, WhatsApp, formularios de contacto, etc.), si los muestran o describen.\n\nPúblico objetivo o sector(es) al que se dirigen.\n\nDiferenciadores o valores explícitos que mencionan (ej. \"rapidez en la respuesta\", \"eficiencia\", \"digitalización\", \"orientados al dato\").\n\nIntenta localizar un correo electrónico de contacto explícitamente listado en el sitio web (comúnmente en la página de Contacto, pie de página, o sección \"Quiénes Somos\").\n\nGenera un resumen estructurado utilizando las categorías que se definen a continuación. Si no encuentras información explícita para una categoría, indica claramente \"Información no explícita en el sitio web\" o \"No se encontró información relevante\". NUNCA inventes ni infieras.\n\n✅ Una vez finalizado el resumen para una empresa, devuélvelo DIRECTAMENTE como output, sin añadir introducciones, conclusiones, o mensajes adicionales.\n\nRepite el proceso para cada empresa de la lista.\n\nFinaliza solamente después de haber procesado y entregado el resumen estructurado para cada empresa.\n\n🌍 Adaptación de Idioma\n\nRealiza el resumen en el idioma oficial del pais donde se encuentra la empresa.\n\n\n🧠 Pasos de Razonamiento (empresa por empresa)\n\nAcceder al sitio_web y explorar su estructura y contenido.\n\nLeer cuidadosamente el texto en las secciones principales (Inicio, Sobre Nosotros, Servicios, etc.).\n\nIdentificar y extraer textualmente o parafraseando con precisión las descripciones explícitas de:\n\nSus servicios/productos principales.\n\nA quiénes se dirigen (sectores, tipos de clientes).\n\nCómo trabajan (si describen procesos internos o su metodología).\n\nCualquier mención directa a desafíos que enfrentan o que ayudan a sus clientes a resolver (ej. \"optimización de tiempo\", \"reducción de errores\", \"gestión de grandes volúmenes\").\n\nCualquier mención a tipos de documentos o datos que procesan.\n\nCualquier mención a canales de comunicación con clientes (chat, formularios, email, teléfono, WhatsApp).\n\nBuscar activamente un correo electrónico de contacto en las páginas relevantes y, en los casos en los que haya varios, elegir el que mas se corresponda al departamente de ventas, de informacion etc. Ejemplo: info@, sales@, hello@, contact@ etc.\n\nEstructurar toda la información explícitamente encontrada en el formato de salida definido. Para las secciones donde no se encontró información explícita, indicar claramente que no se encontró.\n\nPara y PIENSA en este paso para revisar estrictamente el resumen generado para asegurar que CADA PUNTO MENCIONADO está directamente respaldado por el contenido del sitio web y no es una inferencia o suposición. Eliminar cualquier frase que no cumpla este criterio.\n\n✅ Entregar el resumen estructurado como único output.\n\n⚠️ Restricciones Claras y Cruciales\n\n❌ PROHIBIDO INVENTAR O INFERIR: No completes información basándote en el nombre de la empresa, su sector general, o suposiciones lógicas. Si la web no lo dice explícitamente, NO LO PONGAS y marca la sección como \"No encontrado\" o similar.\n\n❌ No usar lenguaje especulativo como \"parece que\", \"probablemente\", \"podrían estar enfrentando\", \"se dedica a\" (a menos que sea parte de una descripción explícita que parafraseas).\n\n✅ SOLO CONTENIDO VERIFICABLE: Cada punto en el resumen debe poder ser señalado en el sitio web.\n\n✅ Usar estrictamente el formato de salida estructurado proporcionado.\n\n✅ Entregar solo el resumen estructurado para cada empresa, uno tras otro, sin texto adicional.\n\n✅ La búsqueda de email debe ser activa en el sitio web, no solo usar el del JSON inicial si está vacío. Si lo encuentras, úsalo; si no, marca como \"No encontrado\".","maxIterations":100}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-540,1840],"id":"adfe24ab-901a-4202-bb51-730045d5b909","name":"AI Agent3","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-840,1840],"id":"4af19a25-efe1-4688-9974-8197f42f18a9","name":"When clicking ‘Test workflow’"},{"parameters":{"jsonSchemaExample":"{\n\t\"resumen_empresa\": \"Todo el resumen completo\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-340,2080],"id":"8e85fe1c-91cf-42c7-9118-13e0b325bbd5","name":"Structured Output Parser"}],"connections":{"API TOKEN":{"main":[[{"node":"API - Parametros1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"RUN Status","type":"main","index":0}]]},"Execute RUN":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"If3","type":"main","index":0}]]},"RUN Status":{"main":[[{"node":"TERMINADO?","type":"main","index":0}]]},"Get Run DataSET":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Update - Termino_busqueda -> COMPLETADO","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Postgres1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Resumen_empresa?","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"API TOKEN","type":"main","index":0}]]},"If3":{"main":[[{"node":"WhatsApp CORRECTO","type":"main","index":0}],[{"node":"WhatsApp ERROR","type":"main","index":0}]]},"TERMINADO?":{"main":[[{"node":"Get Run DataSET","type":"main","index":0},{"node":"WhatsApp Business Cloud3","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"API - Parametros1":{"main":[[{"node":"Insert - TERMINO_BUSQUEDA","type":"main","index":0}]]},"Insert - TERMINO_BUSQUEDA":{"main":[[{"node":"Execute RUN","type":"main","index":0}]]},"Existe EMPRESA?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Insert - EMPRESAS","type":"main","index":0}]]},"Insert - EMPRESAS":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"ERROR HANDLING","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Existe EMPRESA?","type":"main","index":0}],[{"node":"ERROR HANDLING","type":"main","index":0}]]},"Resumen_empresa?":{"main":[[],[{"node":"Loop Over Items1","type":"main","index":0}]]},"ERROR HANDLING":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"ERROR HANDLING1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Postgres","type":"main","index":0}],[{"node":"ERROR HANDLING1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"WhatsApp Business Cloud5","type":"main","index":0},{"node":"AI Agent2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"almacenar_resumen_empresa2":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Postgres Chat Memory2":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"AI Agent2":{"main":[[{"node":"WhatsApp Business Cloud2","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"AI Agent3":{"main":[[],[]]},"When clicking ‘Test workflow’":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent3","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"JhhHLtCScJRMg4TX","timezone":"Europe/Madrid"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e86dd76d-3520-420d-a3df-bd53b5e6de50","triggerCount":0,"tags":[{"createdAt":"2025-04-26T17:58:30.361Z","updatedAt":"2025-04-26T17:58:30.361Z","id":"Hdvh62tjWpdoNDuk","name":"------  WEB SCRAPER"}]},{"createdAt":"2025-04-29T12:34:32.296Z","updatedAt":"2025-05-06T15:10:46.343Z","id":"2uTP3E68xZSD13IR","name":"WEB SCRAPER","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"b333cffb-9233-4cf6-926b-3b9c5202aa77","name":"API_TOKEN","value":"apify_api_glcsYh6J6HYdakETFDONt3oKi8v1aA2zs6t1","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,-220],"id":"d8e9e122-a0bc-4446-8b26-bd46cd9ebeaf","name":"API TOKEN"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[80,60],"id":"a30c14dc-3712-44c0-8226-b47f3bfbf967","name":"Wait","webhookId":"364b37d9-fa53-4997-8d62-b50a601c47f2"},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/{{ $('API - Parametros1').first().json.actor }}/runs?token={{ $('API TOKEN').first().json.API_TOKEN }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"searchStringsArray\": [\n    \"{{ $('API - Parametros1').first().json.searchStringsArray }}\"\n  ],\n  \"locationQuery\": \"{{ $('API - Parametros1').first().json.locationQuery }}\",\n  \"website\": \"withWebsite\",\n  \"maxcrawledplacespersearch\": 5,\n  \"searchMatching\": \"all\",\n  \"skipClosedPlaces\": true\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,-220],"id":"8a25b0ca-b521-43ac-8a79-f6bf1f9d848a","name":"Execute RUN","retryOnFail":true},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}?token=apify_api_glcsYh6J6HYdakETFDONt3oKi8v1aA2zs6t1","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,60],"id":"fd869457-39ee-4e6f-bc29-c8c4831aeadc","name":"RUN Status"},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items?token=apify_api_glcsYh6J6HYdakETFDONt3oKi8v1aA2zs6t1&clean=true","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,460],"id":"97d8c72f-988d-4710-9887-e40887332081","name":"Get Run DataSET"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a38a378f-3bb1-4bcc-9898-f4b1e77502b1","leftValue":"={{ $json.emails }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[460,460],"id":"d4af7f02-fb5f-4f6e-9c11-03d276064203","name":"If1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[920,440],"id":"fa953e44-796a-471b-84bf-0d6868d4c070","name":"Loop Over Items"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2120,600],"id":"43585947-1dd0-4391-9498-f56ca7c24d90","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"GIzBaUk1llHJIk8g","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=Estos son los datos de la empresa:\n\nid: {{ $json.id }}\nnombre: {{ $json.nombre }}\nsitio_web: {{ $json.sitio_web }}\npais: {{ $json.pais }}","options":{"systemMessage":"=# 🛠️ PROMPT para Agente Especializado en Análisis y Resumen Extensivo de Empresas (trabajando sobre una Lista de Empresas)\n\n**Rol:**  \nActúa como un agente investigador experto en marketing B2B. Recibirás una lista completa de empresas, y tu tarea será analizar profundamente el sitio web de cada empresa individualmente y generar un resumen exhaustivo de cada una.\n\n---\n\n## 📦 Flujo de Trabajo\n\nSigue **estos pasos estrictos** para cada empresa:\n\n1. Recibirás una lista JSON de empresas, cada una con: `id`, `nombre`, `sector`, `sitio_web`, `email`, `teléfono`, `país`, `ciudad`, etc.\n2. Para **cada empresa individualmente**:\n   - Analiza exhaustivamente su sitio web (`sitio_web`).\n   - Extrae toda la información relevante para una futura personalización comercial.\n   - Genera un **resumen extenso, estructurado y rico en detalles**.\n   - ✅ Una vez finalizado el resumen, **devuélvelo directamente como output**, sin añadir conclusiones ni mensajes adicionales.\n3. Repite el proceso para cada empresa de la lista.\n4. Finaliza solamente después de haber procesado y entregado los resúmenes de todas las empresas.\n\n---\n\n## 🌍 Adaptación de Idioma\n\n- Realiza el resumen en el mismo idioma del país donde esté ubicada la empresa.\n\n---\n\n## 🧠 Pasos de Razonamiento (empresa por empresa)\n\n1. Explorar en detalle el sitio web de la empresa.\n2. Detectar especialidades, zonas, clientes objetivo.\n3. Extraer testimonios, diferenciadores y estilo de comunicación.\n4. Redactar el resumen extenso con toda la información recolectada.\n5. ✅ Entregar el resumen completo como único output al finalizar cada empresa.\n6. IMPORTANTE: Buscar secciones como \"about us\", \"quiénes somos\" o \"sobre nosotros\" para obtener información adicional.\n\n---\n\n## 📥 Inputs Esperados\n\n- Lista JSON de empresas en formato array, cada una con mínimo: `id`, `nombre`, `sector`, `sitio_web`, `pais`, `ciudad`, `email`, `telefono`.\n\n---\n\n## ✅ Salida Esperada\n\n- El resultado debe ser directamente el **texto del resumen completo** de cada empresa, uno a uno, sin encabezados ni frases adicionales. No incluir conclusiones ni confirmaciones.\n","maxIterations":100}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[2100,300],"id":"36e1f2fe-7d8a-4492-bbbd-72fb88c57890","name":"AI Agent1","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"495f81c1-4d49-49f6-9b6e-d5fa6292c0fe","name":"id","value":"={{ $json.id }}","type":"number"},{"id":"f8244260-744a-413a-a886-905cd361bc52","name":"nombre","value":"={{ $json.nombre }}","type":"string"},{"id":"237170e6-71db-45a4-84ce-2dcce762ee00","name":"sitio_web","value":"={{ $json.sitio_web }}","type":"string"},{"id":"3cf00a5b-dda4-468d-ba19-e74dc0f0cef6","name":"pais","value":"={{ $json.pais }}","type":"string"},{"id":"ddbebf40-2027-4ee6-822c-24383806c856","name":"resumen_empresa","value":"={{ $json.resumen_empresa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1220,160],"id":"83b69a2a-2397-4504-8c21-40bf5fd6b876","name":"Edit Fields"},{"parameters":{"content":"## ApiFy PARAMETROS\n","height":240,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,-360],"id":"9b416ce1-a560-406c-8c61-f87ceca7ca0f","name":"Sticky Note"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"sector_id\": 1,\n  \"producto_id\": 2,\n  \"searchStringsArray\": \"Inmobiliarias en Sevilla\",\n  \"locationQuery\": \"Sevilla, España\",\n  \"whatsAppNumber\": \"34644654555\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-320,0],"id":"a3260e8c-7124-4e48-aff1-493b7f61425b","name":"When Executed by Another Workflow"},{"parameters":{"operation":"send","phoneNumberId":"=538941502641930","recipientPhoneNumber":"={{ $('When Executed by Another Workflow').first().json.whatsAppNumber }}","textBody":"=🕵️ - MENSAJE DESDE WEB SCRAPER WORKFLOW\n\n- Proceso finalizado correctamente\n\n- Se ha completado la búsqueda de empresas usando el término: \"{{ $('When Executed by Another Workflow').first().json.searchStringsArray }}\"\n\n- Los resúmenes personalizados de todas las empresas encontradas han sido elaborados con éxito.\n\n¡Todo listo para avanzar con la siguiente búsqueda!","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[2360,-60],"id":"b980c5f0-84df-46b8-9674-c1a0c1bd0ffa","name":"WhatsApp Business Cloud","webhookId":"5e41b3d5-0487-4bd2-9f06-8e2ede2a2ef5","credentials":{"whatsAppApi":{"id":"oYDtGmYOnwGjvTHH","name":"WhatsApp Julio AI Consulting"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"71ad1ba7-a7b3-4685-a0be-aecdc6f4bf88","leftValue":"={{ $json.data.status }}","rightValue":"READY","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1060,-520],"id":"087df4d3-a279-4fb5-9f26-f88cce43c261","name":"If3"},{"parameters":{"operation":"send","phoneNumberId":"=538941502641930","recipientPhoneNumber":"={{ $('When Executed by Another Workflow').first().json.whatsAppNumber }}","textBody":"=🕵️ - MENSAJE DESDE WEB SCRAPER WORKFLOW\n\n¡Proceso RUN APIFY completado!\n\n- Status final: {{ $json.data.status }}\n\n- Ahora comenzamos el siguiente proceso: Creación de la base de datos.\n","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[840,40],"id":"72a6367f-2a87-4641-b16d-a07d936a735f","name":"WhatsApp Business Cloud3","webhookId":"ef89f8ea-dcca-4db3-a6d3-3cd056e0479c","credentials":{"whatsAppApi":{"id":"oYDtGmYOnwGjvTHH","name":"WhatsApp Julio AI Consulting"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b432f4af-1315-432a-a81d-aa01373b00a5","leftValue":"={{ $json.data.status }}","rightValue":"SUCCEEDED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[500,60],"id":"1b26b0a0-dac2-4844-b595-9a886f14d54b","name":"TERMINADO?"},{"parameters":{"assignments":{"assignments":[{"id":"f86aa55d-cb82-4dd3-830a-4d45bc0f9468","name":"sector_id","value":"={{ $('When Executed by Another Workflow').item.json.sector_id }}","type":"number"},{"id":"5f2b4d1b-9b80-47c6-91b4-29ce60e613d6","name":"producto_id","value":"={{ $('When Executed by Another Workflow').item.json.producto_id }}","type":"number"},{"id":"5f39e2cb-5605-4d94-be35-1fc51b0eb801","name":"searchStringsArray","value":"={{ $('When Executed by Another Workflow').item.json.searchStringsArray }}","type":"string"},{"id":"f08935e5-c4bd-4bee-af83-b580f5bd8c44","name":"locationQuery","value":"={{ $('When Executed by Another Workflow').item.json.locationQuery }}","type":"string"},{"id":"37e85735-529e-4782-b54a-dfbd8bec7761","name":"maxCrawledPlacesPerSearch","value":"={{ $('When Executed by Another Workflow').item.json.maxCrawledPlacesPerSearch }}","type":"number"},{"id":"d0c211a7-effb-4c47-9a22-8e23f656663f","name":"actor","value":"lukaskrivka~google-maps-with-contact-details","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,-260],"id":"01b46f33-b80c-4cff-8709-c788103a2a8c","name":"API - Parametros1"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"terminos_busqueda","mode":"list","cachedResultName":"terminos_busqueda"},"columns":{"mappingMode":"defineBelow","value":{"sector_id":"={{ $json.sector_id }}","producto_id":"={{ $json.producto_id }}","searchstringsarray":"={{ $json.searchStringsArray }}","locationquery":"={{ $json.locationQuery }}","maxcrawledplacespersearch":"={{ $json.maxCrawledPlacesPerSearch }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sector_id","displayName":"sector_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"producto_id","displayName":"producto_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"searchstringsarray","displayName":"searchstringsarray","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"locationquery","displayName":"locationquery","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"maxcrawledplacespersearch","displayName":"maxcrawledplacespersearch","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fecha_creacion","displayName":"fecha_creacion","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[520,-260],"id":"375dcb1e-05c7-462e-9c50-4a75858c194f","name":"Insert - TERMINO_BUSQUEDA","credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1604a75b-6eb8-48da-9a25-9362c82c8806","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1460,440],"id":"6dfdcbb8-a487-49c6-a547-99b40325358c","name":"Existe EMPRESA?"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"columns":{"mappingMode":"defineBelow","value":{"nombre":"={{ $('Loop Over Items').item.json.title }}","sitio_web":"={{ (() => {\n    const website = $('Loop Over Items').item.json.website;\n    if (!website) return null;\n    const match = website.match(/^((?:https?:\\/\\/)?[^\\/]+\\/)/);\n    return match ? match[1] : null;\n})() }}","sector_id":"={{ $('Insert - TERMINO_BUSQUEDA').first().json.sector_id }}","termino_busqueda_id":"={{ $('Insert - TERMINO_BUSQUEDA').first().json.id }}","email":"={{ $('Loop Over Items').item.json.emails }}","telefono":"={{ $('Loop Over Items').item.json.phone }}","pais":"={{ $('Loop Over Items').item.json.countryCode }}","ciudad":"={{ $('Loop Over Items').item.json.city }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nombre","displayName":"nombre","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sector_id","displayName":"sector_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"termino_busqueda_id","displayName":"termino_busqueda_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"sitio_web","displayName":"sitio_web","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_scrapeo","displayName":"fecha_scrapeo","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"resumen_empresa","displayName":"resumen_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1160,680],"id":"4497c4e7-b56f-43eb-b837-12a30174c85c","name":"Insert - EMPRESAS","credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"terminos_busqueda","mode":"list","cachedResultName":"terminos_busqueda"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Insert - TERMINO_BUSQUEDA').first().json.id }}","estado":"completado"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"sector_id","displayName":"sector_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"producto_id","displayName":"producto_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"searchstringsarray","displayName":"searchstringsarray","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"locationquery","displayName":"locationquery","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"maxcrawledplacespersearch","displayName":"maxcrawledplacespersearch","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"estado","displayName":"estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_creacion","displayName":"fecha_creacion","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[700,260],"id":"1c75a6b8-bbb1-4c8e-81ac-6d632b1f47c9","name":"Update - Termino_busqueda -> COMPLETADO","executeOnce":true,"credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}},{"parameters":{"operation":"send","phoneNumberId":"=538941502641930","recipientPhoneNumber":"={{ $('When Executed by Another Workflow').first().json.whatsAppNumber }}","textBody":"=🕵️ - MENSAJE DESDE WEB SCRAPER WORKFLOW\n\nHemos confirmado tu solicitud.\n\n- El proceso está en curso y estamos esperando a que finalice.\n\n- ID del run: {{ $json.data.id }}\n\n- Te notificaremos en cuanto esté completamente terminado. \n\n¡Gracias por tu paciencia!","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1300,-540],"id":"b392f3bc-c4b5-41f6-974e-c728ada6181a","name":"WhatsApp CORRECTO","webhookId":"5d45ceaa-a8cc-423a-9295-05a638d67b5d","credentials":{"whatsAppApi":{"id":"oYDtGmYOnwGjvTHH","name":"WhatsApp Julio AI Consulting"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3300,1620],"id":"515a473d-a282-4e36-b008-09eb021dbe8e","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"GIzBaUk1llHJIk8g","name":"Google Gemini(PaLM) Api account"}},"disabled":true},{"parameters":{"promptType":"define","text":"=Esta es la lista de todas las direcciones de las empresas: {{ $json.data.toJsonString() }}","options":{"systemMessage":"=# 🛠️ PROMPT para Agente Especializado en Análisis y Resumen Extensivo de Empresas (trabajando sobre una Lista de Empresas)\n\n**Rol:**  \nActúa como un agente investigador experto en marketing B2B. Recibirás una lista completa de empresas, y tu tarea será analizar profundamente el sitio web de cada empresa individualmente, generar un resumen exhaustivo de cada una, y **usar obligatoriamente** la herramienta `almacenar_resumen_empresa` para guardar el resultado en la base de datos.\n\n---\n\n## 📦 Flujo de Trabajo\n\nSigue **estos pasos estrictos** para cada empresa:\n\n1. Recibirás una lista JSON de empresas, cada una con: `id`, `nombre`, `sector`, `sitio_web`, `email`, `teléfono`, `país`, `ciudad`, etc.\n2. Para **cada empresa individualmente**:\n   - Analiza exhaustivamente su sitio web (`sitio_web`).\n   - Extrae toda la información relevante para una futura personalización comercial.\n   - Genera un **resumen extenso, estructurado y rico en detalles**.\n   - 🟢 **Llama obligatoriamente a la herramienta `almacenar_resumen_empresa` enviando los siguientes datos en formato JSON**:\n     ```json\n     {\n       \"id\": <id_empresa>,\n       \"resumen\": \"<resumen generado>\"\n     }\n     ```\n   - Asegúrate de que la herramienta ha sido llamada correctamente y responde sin error.\n3. Repite el proceso para cada empresa de la lista.\n4. Finaliza solamente después de haber procesado y **confirmado el almacenamiento** de todos los resúmenes.\n\n---\n\n## 🌍 Adaptación de Idioma\n\n- Realiza el resumen en el mismo idioma del país donde esté ubicada la empresa.\n\n---\n\n## 🧠 Pasos de Razonamiento (empresa por empresa)\n\n1. Explorar en detalle el sitio web de la empresa.\n2. Detectar especialidades, zonas, clientes objetivo.\n3. Extraer testimonios, diferenciadores y estilo de comunicación.\n4. Redactar el resumen extenso con toda la información recolectada.\n5. ⚠️ **Llamar a `almacenar_resumen_empresa` de forma real, no solo mencionar que se hizo.**\n6. Confirmar que el resumen fue almacenado antes de continuar.\n7. IMPORTANTE: Buscar secciones como \"about us\", \"quiénes somos\" o \"sobre nosotros\" para obtener información adicional.\n\n---\n\n## 📥 Inputs Esperados\n\n- Lista JSON de empresas en formato array, cada una con mínimo: `id`, `nombre`, `sector`, `sitio_web`, `pais`, `ciudad`, `email`, `telefono`.\n\n---\n\n## ✅ Salida Esperada\n\n- Un mensaje final al usuario que resuma brevemente lo que hiciste (cuántas empresas analizaste y almacenaste correctamente).\n","maxIterations":100}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[3300,1420],"id":"5f72d847-372f-4ba4-ad2c-3ae3289630d5","name":"AI Agent2","retryOnFail":true,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"495f81c1-4d49-49f6-9b6e-d5fa6292c0fe","name":"id","value":"={{ $json.id }}","type":"number"},{"id":"f8244260-744a-413a-a886-905cd361bc52","name":"nombre","value":"={{ $json.nombre }}","type":"string"},{"id":"237170e6-71db-45a4-84ce-2dcce762ee00","name":"sitio_web","value":"={{ $json.sitio_web }}","type":"string"},{"id":"3cf00a5b-dda4-468d-ba19-e74dc0f0cef6","name":"pais","value":"={{ $json.pais }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3080,1060],"id":"83f05951-de83-4d93-9e9f-f3f487007ac1","name":"Edit Fields1"},{"parameters":{"jsCode":"// Node Function para n8n\n\n// Recoge todos los items de entrada\nconst empresas = $input.all().map(item => item.json);\n\n// Crea una variable \"data\" con toda la lista\nreturn [\n  {\n    json: {\n      data: empresas\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3280,1060],"id":"b5c5a8aa-dae0-4f51-afc3-98aa833d1d8d","name":"Code1"},{"parameters":{"operation":"send","phoneNumberId":"=538941502641930","recipientPhoneNumber":"={{ $('When Executed by Another Workflow').first().json.whatsAppNumber }}","textBody":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[3740,1420],"id":"90bbd3c4-3eb6-43fc-85e2-ff859dec0adc","name":"WhatsApp Business Cloud2","webhookId":"5e41b3d5-0487-4bd2-9f06-8e2ede2a2ef5","credentials":{"whatsAppApi":{"id":"oYDtGmYOnwGjvTHH","name":"WhatsApp Julio AI Consulting"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').first().json.whatsAppNumber }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3440,1660],"id":"ac24bbf7-5b4c-4a81-bf9f-40a871ea4e22","name":"Postgres Chat Memory2","credentials":{"postgres":{"id":"dGsXmh26KMQqcZF9","name":"Postgres Chatdb"}}},{"parameters":{"operation":"send","phoneNumberId":"=538941502641930","recipientPhoneNumber":"={{ $('When Executed by Another Workflow').first().json.whatsAppNumber }}","textBody":"=🗄️ Base de datos actualizada exitosamente.\n\n➕ {{ $json.data.length }} empresas fueron añadidas al sistema.","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[3580,980],"id":"50c12aca-635c-42bd-a637-ee6e8bc37762","name":"WhatsApp Business Cloud5","webhookId":"7d1ca838-7e65-4df3-9708-07737dd35929","credentials":{"whatsAppApi":{"id":"oYDtGmYOnwGjvTHH","name":"WhatsApp Julio AI Consulting"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Guarda en la base de datos un resumen claro y específico sobre la empresa analizada.","operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $fromAI(\"id\", \"id de la empresa\") }}","resumen_empresa":"={{ $fromAI(\"resumen_empresa\", \"Resumen y descripción de la empresa basado en el análisis del sitio web.\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"nombre","displayName":"nombre","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sector_id","displayName":"sector_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"termino_busqueda_id","displayName":"termino_busqueda_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sitio_web","displayName":"sitio_web","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fecha_scrapeo","displayName":"fecha_scrapeo","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"resumen_empresa","displayName":"resumen_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[3560,1640],"id":"74851dcd-6a5c-4a99-8384-f9d2bd701de2","name":"almacenar_resumen_empresa2","credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1820,180],"id":"1a9e9ccc-0c8a-40e5-8683-4e7e018db4a7","name":"Loop Over Items1"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Loop Over Items1').item.json.id }}","resumen_empresa":"={{ $json.output }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"nombre","displayName":"nombre","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sector_id","displayName":"sector_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"termino_busqueda_id","displayName":"termino_busqueda_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"sitio_web","displayName":"sitio_web","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ciudad","displayName":"ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fecha_scrapeo","displayName":"fecha_scrapeo","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"resumen_empresa","displayName":"resumen_empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2540,300],"id":"7adad83f-64a7-4b2e-92bf-0f66cb326a07","name":"Postgres","credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"where":{"values":[{"column":"sitio_web","value":"={{ (() => {\n    const website = $('Loop Over Items').item.json.website;\n    if (!website) return null;\n    const match = website.match(/^((?:https?:\\/\\/)?[^\\/]+\\/)/);\n    return match ? match[1] : null;\n})() }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1140,460],"id":"4ab5344a-6e27-439d-b742-04bbc4e84ca8","name":"Postgres1","executeOnce":false,"alwaysOutputData":true,"retryOnFail":false,"credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"655170c5-eba7-4c92-a092-6fab84876f96","leftValue":"={{ $json.resumen_empresa }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1480,160],"id":"4645f75a-bf8c-4734-af8b-a067cebc3673","name":"Resumen_empresa?"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,60],"id":"974bef4d-007b-4cff-84cb-e2bc078d99d0","name":"Edit Fields2","executeOnce":true},{"parameters":{"operation":"send","phoneNumberId":"=538941502641930","recipientPhoneNumber":"={{ $('When Executed by Another Workflow').first().json.whatsAppNumber }}","textBody":"=🕵️ - MENSAJE DESDE WEB SCRAPER WORKFLOW\n\nHa ocurrido un error. \n\nID del run: {{ $json.data.id }}\n\nStatus: {{ $json.data.status }}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1,"position":[1260,-360],"id":"0089797a-cb3b-4e1e-83e4-824dcb1bdc8d","name":"WhatsApp ERROR","webhookId":"c389674e-573c-4a75-bf8a-22a0f26872c0","credentials":{"whatsAppApi":{"id":"oYDtGmYOnwGjvTHH","name":"WhatsApp Julio AI Consulting"}}},{"parameters":{"workflowId":{"__rl":true,"value":"iyB7zR9mxRwdeMNZ","mode":"list","cachedResultName":"ERROR HANDLING"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1500,800],"id":"b193b6e4-8825-42fa-9ed2-93a2e58c358e","name":"ERROR HANDLING"},{"parameters":{"workflowId":{"__rl":true,"value":"iyB7zR9mxRwdeMNZ","mode":"list","cachedResultName":"ERROR HANDLING"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2380,680],"id":"e9390b3e-3cd0-44e1-9ea0-507687c86139","name":"ERROR HANDLING1"}],"connections":{"API TOKEN":{"main":[[{"node":"API - Parametros1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"RUN Status","type":"main","index":0}]]},"Execute RUN":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"If3","type":"main","index":0}]]},"RUN Status":{"main":[[{"node":"TERMINADO?","type":"main","index":0}]]},"Get Run DataSET":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Update - Termino_busqueda -> COMPLETADO","type":"main","index":0}],[]]},"Loop Over Items":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Postgres1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Postgres","type":"main","index":0}],[{"node":"ERROR HANDLING1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Resumen_empresa?","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"API TOKEN","type":"main","index":0}]]},"WhatsApp Business Cloud":{"main":[[]]},"If3":{"main":[[{"node":"WhatsApp CORRECTO","type":"main","index":0}],[{"node":"WhatsApp ERROR","type":"main","index":0}]]},"TERMINADO?":{"main":[[{"node":"Get Run DataSET","type":"main","index":0},{"node":"WhatsApp Business Cloud3","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"API - Parametros1":{"main":[[{"node":"Insert - TERMINO_BUSQUEDA","type":"main","index":0}]]},"Existe EMPRESA?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Insert - EMPRESAS","type":"main","index":0}]]},"Insert - EMPRESAS":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"ERROR HANDLING","type":"main","index":0}]]},"Insert - TERMINO_BUSQUEDA":{"main":[[{"node":"Execute RUN","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"AI Agent2":{"main":[[{"node":"WhatsApp Business Cloud2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"AI Agent2","type":"main","index":0},{"node":"WhatsApp Business Cloud5","type":"main","index":0}]]},"Postgres Chat Memory2":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"almacenar_resumen_empresa2":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"AI Agent1","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Existe EMPRESA?","type":"main","index":0}],[{"node":"ERROR HANDLING","type":"main","index":0}]]},"Resumen_empresa?":{"main":[[],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields2":{"main":[[]]},"ERROR HANDLING":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"ERROR HANDLING1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"JhhHLtCScJRMg4TX","timezone":"Europe/Madrid"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d21dda45-b3c5-4551-93e7-cfd365a987de","triggerCount":0,"tags":[{"createdAt":"2025-04-26T17:58:30.361Z","updatedAt":"2025-04-26T17:58:30.361Z","id":"Hdvh62tjWpdoNDuk","name":"------  WEB SCRAPER"}]},{"createdAt":"2025-04-22T10:10:56.827Z","updatedAt":"2025-05-14T13:41:38.598Z","id":"st3DFNuxtecNPN1y","name":"API Conections","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,80],"id":"51ebdc60-fd2c-4921-9517-53b82c160250","name":"When clicking ‘Test workflow’"},{"parameters":{"method":"POST","url":"https://api.sharpspring.com/pubapi/v1.2/?accountID=8DDC63B5876A85C38B18A42DA4594FD7&secretKey=A05D7252F335F5F27CF6170159158F44","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"method\": \"getLeads\",\n  \"params\": {\n    \"where\": {},\n    \"limit\": 10,\n    \"offset\": 0\n  },\n  \"id\": \"get-all-leads\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-260],"id":"905cdddb-d857-4ddf-afc8-9232a4688921","name":"HTTP GET ALL LEADS"},{"parameters":{"method":"POST","url":"https://api.sharpspring.com/pubapi/v1.2/?accountID=8DDC63B5876A85C38B18A42DA4594FD7&secretKey=A05D7252F335F5F27CF6170159158F44","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"method\": \"createLeads\",\n  \"params\": {\n    \"objects\": [\n      {\n        \"firstName\": \"Julio Testing\",\n        \"lastName\": \"Test\",\n        \"emailAddress\": \"julio.julio@example.com\"\n      }\n    ]\n  },\n  \"id\": \"create-lead-test\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,80],"id":"dd38a539-64d3-424c-bf21-dcf8f4ca1192","name":"HTTP - CREATE LEAD"},{"parameters":{"content":"# GET ALL LEADS - Limits\n","height":320,"width":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[180,-380],"id":"122afbbd-a03f-4527-bb38-e6b4e7aeb2a2","name":"Sticky Note"},{"parameters":{"content":"# CREATE LEAD","height":340,"width":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[180,-20],"id":"977c2fc5-a615-4579-92f5-001c4a1dbcc0","name":"Sticky Note1"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP GET ALL LEADS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"db69daed-015c-41e0-83b9-7266b1decf6b","triggerCount":0,"tags":[{"createdAt":"2025-05-14T13:38:40.826Z","updatedAt":"2025-05-14T13:38:40.826Z","id":"jSyen9IAXqgb2yo6","name":"ASOMADOS"},{"createdAt":"2025-05-14T13:39:27.011Z","updatedAt":"2025-05-14T13:39:27.011Z","id":"hPsckLaT2GuL253L","name":"CRM"}]},{"createdAt":"2025-04-14T08:58:55.375Z","updatedAt":"2025-05-14T13:41:22.681Z","id":"yODCjSw0HF3IUYGk","name":"00 - RAG Data Base Creation","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"5ef52b7d-e6d7-49b7-97d6-b146c8382bc8","name":"When chat message received","webhookId":"b84708e0-e530-406f-9027-7e27a1de60a2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[220,0],"id":"5e94504b-b599-46bf-bd18-db585cb7ca71","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[80,240],"id":"4b04d188-cedd-42c0-ae05-a5058abefc92","name":"n8n auto alojado","credentials":{"openAiApi":{"id":"Gw0QSKnbDEBUQQBk","name":"OpenAi n8n auto alojado"}}},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[240,260],"id":"ae08fa15-d0d3-4bba-8772-aaabe574b7ac","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"dGsXmh26KMQqcZF9","name":"Postgres Chatdb"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1540,340],"id":"09958229-fcd2-45d3-af4f-c8a899ddd3b2","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"# CREAR COLECCION VECTORIAL EN QDRANT","height":580,"width":1040},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1220,-160],"id":"d07a83d5-bb07-4b43-be10-e776d181f4b2","name":"Sticky Note"},{"parameters":{"method":"PUT","url":"http://qdrant:6333/collections/asomados_docs","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"vectors\": {\n    \"size\": 1536,\n    \"distance\": \"Cosine\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-860,140],"id":"5989edca-d0e4-4674-b818-705f5f8b955f","name":"CREAR BASE DE DATOS QDRANT","credentials":{"qdrantApi":{"id":"CYqUWya6MEgGS8WU","name":"QdrantApi account"}}},{"parameters":{"content":"# ELIMINAR BASE DE DATOS","height":580,"width":1040,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1260,460],"id":"6b0f2c54-2524-4586-908c-683a946c458d","name":"Sticky Note1"},{"parameters":{"method":"DELETE","url":"http://qdrant:6333/collections/asomados_docs","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-780,720],"id":"1fe04263-9cac-4110-9394-411f65356afa","name":"CREAR BASE DE DATOS QDRANT1","credentials":{"qdrantApi":{"id":"CYqUWya6MEgGS8WU","name":"QdrantApi account"}}}],"connections":{"When chat message received":{"main":[[]]},"n8n auto alojado":{"ai_languageModel":[[]]},"Postgres Chat Memory":{"ai_memory":[[]]},"When clicking ‘Test workflow’":{"main":[[{"node":"CREAR BASE DE DATOS QDRANT","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"460c71fa-8538-43cd-bea3-4d35b6c000a6","triggerCount":0,"tags":[{"createdAt":"2025-05-14T13:38:40.826Z","updatedAt":"2025-05-14T13:38:40.826Z","id":"jSyen9IAXqgb2yo6","name":"ASOMADOS"},{"createdAt":"2025-05-14T13:39:27.011Z","updatedAt":"2025-05-14T13:39:27.011Z","id":"hPsckLaT2GuL253L","name":"CRM"}]},{"createdAt":"2025-04-22T07:57:56.905Z","updatedAt":"2025-05-14T13:40:10.893Z","id":"UKbccFxyEVEVOzEm","name":"ChatBot - CLEAR CHAT HISTORY","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"7cf79edb-c978-447d-9748-33157b22ecec","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_chat_histories\nWHERE session_id = '88098d8628944168a987f6ef869ae998';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[280,0],"id":"f69eaafa-2c2b-4244-a2ff-009863e85568","name":"DELETE CHAT HISTORY","credentials":{"postgres":{"id":"dGsXmh26KMQqcZF9","name":"Postgres Chatdb"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"DELETE CHAT HISTORY","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b61eb487-eb8e-40fb-aeb5-b74716cb6e42","triggerCount":0,"tags":[{"createdAt":"2025-05-14T13:38:40.826Z","updatedAt":"2025-05-14T13:38:40.826Z","id":"jSyen9IAXqgb2yo6","name":"ASOMADOS"}]},{"createdAt":"2025-05-09T10:19:45.980Z","updatedAt":"2025-05-14T13:39:46.761Z","id":"CPleJSffSyDO7OTg","name":"03 - Create LEAD - CRM","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"nombre"},{"name":"apellidos"},{"name":"correo_electronico"},{"name":"telefono"},{"name":"mensaje"},{"name":"id_conversacion","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"9c9f9ce3-2668-47cd-ae60-d5a9e75375ac","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://api.sharpspring.com/pubapi/v1.2/?accountID=8DDC63B5876A85C38B18A42DA4594FD7&secretKey=A05D7252F335F5F27CF6170159158F44","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"method\": \"createLeads\",\n  \"params\": {\n    \"objects\": [\n      {\n        \"firstName\": \"{{ $('When Executed by Another Workflow').first().json.nombre }}\",\n        \"lastName\": \"{{ $('When Executed by Another Workflow').first().json.apellidos }}\",\n        \"emailAddress\": \"{{ $('When Executed by Another Workflow').first().json.correo_electronico }}\",\n        \"mobilePhoneNumber\": \"{{ $('When Executed by Another Workflow').first().json.telefono }}\",\n        \"mensaje_646f6f7cafe67\": \"{{ $('When Executed by Another Workflow').first().json.mensaje }}\",\n        \"description\": \"{{ $json.conversation }}\",\n        \"conversaci__n_del_chatbot_681de359a27e9\": \"{{ $json.conversation }}\"\n      }\n    ]\n  },\n  \"id\": \"{{ $('When Executed by Another Workflow').first().json.id_conversacion }}\"\n}\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,0],"id":"258df44c-fea4-458b-9322-14b807ce1afe","name":"HTTP - CREATE LEAD"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[300,0],"id":"dec6304e-85a4-4655-874c-019581e87f3b","name":"Chat Memory Manager"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.id_conversacion }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[320,220],"id":"a9b4d249-a91c-400d-983f-b82ce834689b","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"dGsXmh26KMQqcZF9","name":"Postgres Chatdb"}}},{"parameters":{"fieldToSplitOut":"messages","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[680,0],"id":"16ce0c39-6253-44a7-82ea-cdcc3d602b12","name":"Split Out"},{"parameters":{"jsCode":"// Obtener los datos de entrada\nconst inputData = $input.all();\n\n// Inicializar la conversación en un array\nlet conversation = \"\";\n\n// Iterar sobre los elementos de la conversación\nfor (const item of inputData) {\n    const humanMessage = item.json.human ? `Human: ${item.json.human}\\n` : \"\";\n    const aiMessage = item.json.ai ? `AI: ${item.json.ai}\\n` : \"\";\n    conversation += humanMessage + aiMessage;\n}\n\n// Escapar los saltos de línea\nconst sanitizedConversation = conversation.replaceAll('\\n', ' *-* ').trim();\n\n// Retornar la conversación lista para insertar en JSON plano\nreturn [{ json: { conversation: sanitizedConversation } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0],"id":"910a2571-5674-48ee-99b0-eae5a4eb34dd","name":"Code"},{"parameters":{"jsCode":"// Obtener los datos de entrada\nconst inputData = $input.all();\n\n// Inicializar la conversación en un array\nlet conversation = \"\";\n\n// Iterar sobre los elementos de la conversación\nfor (const item of inputData) {\n    // Verificar si hay mensajes de \"human\" y \"ai\" en el objeto JSON\n    const humanMessage = item.json.human ? `Human: ${item.json.human}\\n` : \"\";\n    const aiMessage = item.json.ai ? `AI: ${item.json.ai}\\n` : \"\";\n\n    // Construir la conversación en orden secuencial\n    conversation += humanMessage + aiMessage;\n}\n\n// Retornar la conversación estructurada\nreturn [{ json: { conversation } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,-320],"id":"09d0c86b-d91c-49c5-9063-965f8dabeccf","name":"Code1"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Split Out":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP - CREATE LEAD","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"nombre":"Julio","apellidos":"test","correo_electronico":"julio@test.com","telefono":"952610366","mensaje":"Solicita contacto para analizar el servicio de diseño de logotipo y mejorar la imagen de su empresa.","id_conversacion":"1931f28ce44746adbe6d2ec965afabdc"}}]},"versionId":"c430804d-7317-4604-bdfc-28cabbe1f793","triggerCount":0,"tags":[{"createdAt":"2025-05-14T13:38:40.826Z","updatedAt":"2025-05-14T13:38:40.826Z","id":"jSyen9IAXqgb2yo6","name":"ASOMADOS"},{"createdAt":"2025-05-14T13:39:27.011Z","updatedAt":"2025-05-14T13:39:27.011Z","id":"hPsckLaT2GuL253L","name":"CRM"}]},{"createdAt":"2025-05-01T12:39:35.534Z","updatedAt":"2025-05-02T15:07:10.219Z","id":"JhhHLtCScJRMg4TX","name":"ERROR n8n HANDLING","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"2b433cbf-ee63-444d-adc2-81aa31f2fd3c","name":"Error Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"1d46fb0e-936a-4e8c-a705-fbd4ddf08924","name":"project_name","value":"=web_scraper","type":"string"},{"id":"735209d2-a0bb-48a7-a013-5f1f975cf784","name":"environment","value":"test","type":"string"},{"id":"31fb64b3-ffb0-416f-9678-dd1b4a1b606a","name":"server","value":"Servidor en Digital Ocean - Julio","type":"string"},{"id":"b15ac4d3-4288-4607-9647-64e2b80132ac","name":"server_ip_publica","value":"104.248.19.108","type":"string"},{"id":"68df000c-8620-4129-8c30-5e856f8a1262","name":"dominio","value":"myn8ntest.xyz","type":"string"},{"id":"341ef165-57f4-49d7-8bc7-7149fb8a2f5e","name":"n8n_location","value":"digitalocean","type":"string"},{"id":"c3f7d42f-c3ca-48b6-ac85-afd9b0938712","name":"hostname","value":"={{ $json.stdout }}","type":"string"},{"id":"0d14088a-fa86-4f9b-b133-718fc5638b9c","name":"n8n_version","value":"={{ $('n8n --version').item.json.stdout }}","type":"string"},{"id":"b64cf9ff-5c78-4012-a169-671eca8c7352","name":"workflow_id","value":"={{ $('Error Trigger').item.json.workflow.id }}","type":"string"},{"id":"f50835f0-fa5e-4447-ac67-6d2836780741","name":"workflow_name","value":"={{ $('Error Trigger').item.json.workflow.name }}","type":"string"},{"id":"2dc497c3-baec-4e9d-b59d-3dbb167f9bd0","name":"execution_id","value":"={{ $('Error Trigger').item.json.execution.id }}","type":"string"},{"id":"b97e9e3b-851d-460f-8afa-c03e8897e8e0","name":"execution_url","value":"={{ \n  $('Error Trigger').item.json.execution.url.replace('http://localhost:5678', \n    $json.n8n_location === 'local' \n    ? 'http://192.168.1.10:5678'  // IP local o dominio local\n    : 'https://myn8ntest.xyz'     // Dominio en DigitalOcean\n  ) \n}}\n","type":"string"},{"id":"f822a893-9b4d-42e8-bfcf-e01b91e7b394","name":"execution_mode","value":"={{ $('Error Trigger').item.json.execution.mode }}","type":"string"},{"id":"f425f80b-8050-47b6-bbfa-111d4481cb02","name":"error_timestamp","value":"={{ new Date($('Error Trigger').item.json.execution.error.timestamp).toISOString() }}","type":"string"},{"id":"b907d71c-03db-4af9-9310-7bf7a88280f5","name":"error_level","value":"={{ $('Error Trigger').item.json.execution.error.level }}","type":"string"},{"id":"af7a77fc-6373-4437-b27b-45a1948e1460","name":"error_message","value":"={{ $('Error Trigger').item.json.execution.error.message }}","type":"string"},{"id":"d89bf11d-4675-4608-a88e-471ffed0c78a","name":"error_description","value":"={{ $('Error Trigger').item.json.execution.error.description }}","type":"string"},{"id":"73dfb9d2-7b50-4412-9390-043e5ef464c8","name":"error_stack","value":"={{ $('Error Trigger').item.json.execution.error.stack }}","type":"string"},{"id":"c972d8a8-4c1b-4672-8783-a75dbad9a173","name":"node_name","value":"={{ $('Error Trigger').item.json.execution.error.node.name }}","type":"string"},{"id":"bf618e47-ab9b-43e2-a7d3-0504e08626c0","name":"node_type","value":"={{ $('Error Trigger').item.json.execution.error.node.type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,0],"id":"e93eb553-0e07-482e-b83b-9ad7bb1d0500","name":"Edit Fields"},{"parameters":{"command":"n8n --version\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[240,0],"id":"05127fec-65cb-4437-9eb8-90ffa1177083","name":"n8n --version"},{"parameters":{"command":"hostname"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[460,0],"id":"a7dfe5b4-31e0-40fd-b638-78c28cd99b1c","name":"Execute Command"},{"parameters":{"tableId":"error_n8n_handling","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[920,0],"id":"b87034e7-8f3f-48b5-a79c-6df822db4d4a","name":"Supabase","credentials":{"supabaseApi":{"id":"1Ajhtpnz7a86KORS","name":"Supabase error_n8n_handling"}}},{"parameters":{"chatId":"7511562428","text":"=🚨 *ERROR EN WORKFLOW*\n\n🧠 *Workflow:* `{{ $json.workflow_name }}`\n🆔 *Workflow ID:* `{{ $json.workflow_id }}`\n🧾 *Execution ID:* `{{ $json.execution_id }}`\n🔗 [Ver ejecución]({{ $json.execution_url }})\n\n📍 *Nodo:* `{{ $json.node_name }}`\n⚙️ *Tipo de nodo:* `{{ $json.node_type }}`\n\n🕒 *Momento:* `{{ new Date($json.error_timestamp).toLocaleString('es-ES', { day: 'numeric', month: 'long', hour: '2-digit', minute: '2-digit' }).replace(' a las', ' a las') }}`\n🚦 *Modo:* `{{ $json.execution_mode }}`\n🌍 *Entorno:* `{{ $json.environment }}`\n💻 *Servidor:* `{{ $json.server }} ({{ $json.server_ip_publica }})`\n\n🧯 *Error:* `{{ $json.error_message }}`\n📄 *Descripción:* `{{ $json.error_description || 'N/A' }}`","additionalFields":{"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,-220],"id":"585b7d46-7ac9-476e-aa2c-6672bc087a34","name":"Telegram","webhookId":"460b579a-20d8-4bc8-b9cc-502812e84879","credentials":{"telegramApi":{"id":"byMPwMa2dbIjm3W4","name":"Telegram error_n8n_handling"}}}],"connections":{"Error Trigger":{"main":[[{"node":"n8n --version","type":"main","index":0}]]},"n8n --version":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Supabase","type":"main","index":0},{"node":"Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Error Trigger":[{"json":{"execution":{"id":"1302","url":"http://localhost:5678/workflow/zANT00g8aK6uSPCr/executions/1302","error":{"level":"warning","tags":{},"context":{"itemIndex":0},"functionality":"regular","name":"NodeOperationError","timestamp":1746103777071,"node":{"parameters":{"resource":"database","operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"envios_emails","mode":"list","cachedResultName":"envios_emails"},"columns":{"mappingMode":"defineBelow","value":{"correo_seleccionado":"={{ $json.body.email }}","estado_envio":"delivered","evento_id":"={{ $json.body.id }}"},"matchingColumns":["correo_seleccionado"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"empresa_id","displayName":"empresa_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fecha_envio","displayName":"fecha_envio","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"smtp_usado","displayName":"smtp_usado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"estado_envio","displayName":"estado_envio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"motivo_fallo","displayName":"motivo_fallo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"opened","displayName":"opened","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"fecha_apertura","displayName":"fecha_apertura","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"clicked","displayName":"clicked","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"fecha_click","displayName":"fecha_click","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"replied","displayName":"replied","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"fecha_respuesta","displayName":"fecha_respuesta","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"bounced","displayName":"bounced","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"motivo_rebote","displayName":"motivo_rebote","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"correo_seleccionado","displayName":"correo_seleccionado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"evento_id","displayName":"evento_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,-500],"id":"227f3fc7-d38e-4217-9062-070d343cb13c","name":"DELIVERED","credentials":{"postgres":{"id":"BWfzGVwZFQm7rN5t","name":"DB Scraping USER scraper"}}},"messages":[],"description":"No rows matching the provided values (correo_seleccionado=julioandyoyo@gmail.com) were found in the table \"envios_emails\".","message":"The row you are trying to update doesn't exist","stack":"NodeOperationError: The row you are trying to update doesn't exist\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/n8n-nodes-base/dist/nodes/Postgres/v2/actions/database/update.operation.js:232:23)\n    at processTicksAndRejections (node:internal/process/task_queues:95:5)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/n8n-nodes-base/dist/nodes/Postgres/v2/actions/router.js:59:26)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/n8n-nodes-base/dist/nodes/Postgres/v2/PostgresV2.node.js:16:16)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/execution-engine/workflow-execute.js:681:27)\n    at /usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/execution-engine/workflow-execute.js:913:51\n    at /usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/execution-engine/workflow-execute.js:1246:20"},"lastNodeExecuted":"DELIVERED","mode":"webhook"},"workflow":{"id":"zANT00g8aK6uSPCr","name":"Brevo EVENTS"}}}]},"versionId":"019eb1ee-64b7-4481-ac94-9df640aebf0f","triggerCount":0,"tags":[]}]